/* Ini */
*{
  margin:0;
  padding:0;
}
html{
  background: black;
}


/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ORGA BLOC */
/* global */
body{
  display: flex;
  width:85%;
  max-width:1200px;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
}
  header{
    width:100%;
    background: #D1D1D1;
    margin: auto;
  }

  #container {
    flex: 1;
    width:100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
    main{
     order: 2;
     flex-grow: 1;
    }
    #mainNav{
      order: 1;
    }

@media screen and (max-device-width: 600px) {
  body{
    width:100%;
  }
}
/* ----------------------------------------------------------- */

/* header */
header img{
  width: 100%;
}
h1#headerHidden{ 
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px; 
}
/* ----------------------------------------------------------- */

/* main */
main{
 display: flex;
 flex-direction: row;
 background: white;
}
  #contentMain{
    order: 2;
    flex-grow:1;
    flex-basis: 85%;
    padding: 3%;
  }
   #widgetResa iframe{
    width: 50%;
   }
   #widgetCalendar{
    display:block;
    margin:auto;
    width: 95%;
   }
   #widgetCalendarMobile{
    display:none;
    margin:auto;
    width: 95%;
   }
   #widgetCarteFull{
    display:block;
    margin:auto;
    width: 95%;
   }
   #widgetMiniMap{
    border: 0;
   }
   .lecteurAudio{
    display:block;
    margin:auto;
    margin-top: 15px;
   }

  #comAside{
    order: 1;
    flex-basis: 15%;
    border-right: 1px solid #D1D1D1;
    padding: 2%;
    display:flex;
    flex-direction: column;
    align-items: center;

  }
    #actualite{
      border-bottom: 1px solid #D1D1D1;
    }
      #actualite #listeActualite li:last-child{
        padding-bottom: 10px;
      }
      #titreActualite{
        padding-top: 7px;
        padding-bottom: 7px;
      }
    .widget{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
    }
    .borderDown{
      border-bottom: 1px solid #D1D1D1;
      width:100%;
    }

@media screen and (max-device-width: 600px) {
  #comAside{
    display:none;
  }
  #widgetResa iframe{
    width: 100%;
   }
   #widgetCalendar{
    display: none;
   }
   #widgetCalendarMobile{
    display:block;
   }
}
/* ---------------------------------------------------------- */

/* Footer */
footer{
  width:100%;
  background: #D1D1D1;
  display:flex;
  flex-direction: column;
  padding-top: 10px;
}
@media screen and (max-device-width: 600px) {
  footer{
    background: #D1D1D1;
  }
}

/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* MENU DEROULANT */
#mainNav #navigationMobile{
  display: none;
  background: #D1D1D1;
  list-style: none;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
#mainNav #navigationMobile a {
  text-decoration: none;
  display: block;
  padding: 15px 10% 15px 10%;
  color: #000;
}

#mainNav #navigation {
  list-style: none;
  margin: 0;
  background: #D1D1D1;
  display: flex;
  justify-content: space-around;
}

#mainNav #navigation a {
  text-decoration: none;
  display: block;
  padding: 20px 10% 20px 10%;
  color: #000;
}
#mainNav #navigation li{
  padding-right: 4%;
}
#mainNav #navigation li:hover {
  background: #FFFFFF;
}

@media screen and (min-device-width: 601px) {
  #mainNav #navigation ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
  }
  #mainNav #navigation li:hover ul{
    max-height:15em;
    background: #D1D1D1;
    list-style: none;
    padding: 0;
  }
  #mainNav #navigation li ul{
    list-style: none;
    padding: 0;
  }
  #mainNav #navigation li ul:last-child{
    border-radius:0 0 8px 8px;
  }
}

@media screen and (max-device-width: 600px) {
  #mainNav #navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  #mainNav #navigation li{
  padding-right: 0;
  }
  #mainNav #navigation a {
    text-align: center;
    padding: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  #mainNav #navigation li:last-of-type a {
    border-bottom: none;
  }

  #mainNav #navigation ul{
    display:none;
  }  
  #mainNav #navigation ul li{
    border-top: 0;
    border-bottom: 0;
    background: grey;
  }
}

/* ---------------------------------------------------------- */
/* paragraphe */
/* Webfont */
@font-face {
    font-family:'luxi_sansregular';
    src: url('luxisr-webfont.eot');
    src: url('luxisr-webfont.eot?#iefix') format('embedded-opentype'),
         url('luxisr-webfont.woff') format('woff'),
         url('luxisr-webfont.ttf') format('truetype'),
         url('luxisr-webfont.svg#luxi_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1{
  font-family:'luxi_sansregular';
}
h2{
  font-family:'luxi_sansregular';
}
#h1Normal{
  text-align: center;
  font-size: 2.2em;
  color: red;
}
.h2Normal{
  text-align: center;
  padding-top: 20px;
}
.h2Produits{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.h2Galerie{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-basis: 100%;
}  
p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  white-space: normal;
  font-variant: normal;
  text-transform: none;
}
.pNormal{
  text-align: center;
  color: #999;
  font-size: 1em;
  padding: 2%;
}
.pJustifier{
  text-align: justify;
  color: #999;
  font-size: 1em;
  padding: 0 2% 2% 2%;
}
footer .pNormal{
  color:black;
}
.pBlack{
  text-align: center;
  color: #000000;
  font-size: 1.05em;
  padding: 2% 5% 2% 5%;
}
.pInfo{
      font-size: 0.7em;
      font-style: italic;
      text-align: center;
}
.ulCentre{
  text-align: center;
  padding: 0 10px 0 10px;
}
.ulEvent{
  text-align: center;
  padding: 5px 10px 0 10px;
  list-style-type: decimal;
}
#ulGauche ul li{
  margin-left: 5%;
}

@media screen and (max-device-width: 600px) {
  #h1Normal{
    font-size: 1.4em;
  }
  .h2Normal{
    font-size: 1.1em;
  }
  .h2Produits{
    font-size: 1.1em;
  }
  .h2Galerie{
    font-size: 1.1em;
  }
  .pNormal{
    font-size: 0.8em;
    text-align: justify;
  }
  .pJustifier{
    font-size: 0.8em;
  }
  footer .pNormal{
    order:2;
    text-align: center;
  }
  .pBlack{
    font-size: 0.85em;
  }
  .ulCentre:last-child li:last-child{
    padding-bottom: 10px;
  }
  .ulEvent:last-child li:last-child{
    padding-bottom: 10px;
  }
  #ulGauche li{
    margin-left: 5%;
  }
  #ulGauche ul li{
    margin-left: 15%;
  } 
}
/* ---------------------------------------------------------- */
/* images */
.figureNormal img{
  display: block;
  margin: auto;
  width: 60%;
}
.figurePrez img{
  width: 50%;
  float: left;
  padding-right: 5%;
}
.figureFull img{
  display: block;
  margin: auto;
  width: 95%;
}
  .capNormal{
    font-size: 0.7em;
    font-style: italic;
    text-align: center;
  }
#imgProduits{
  display: flex;
  flex-direction: column;
  margin: auto;
}
  .figProduits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
  .figProduitsCredit{
      display: none;
    }
@media screen and (max-device-width: 600px) {
  .figProduits{
    flex-direction: column;
  }
  #imgProduits .figProduits:last-child{
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 10px;
  }
  .figurePrez img{
    padding-bottom: 10px;
    display:block;
    margin:auto;
    width:100%;
  }
}
#imgConteneur{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:auto;
  max-width: 650px;
}
  .figRestaurant{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-basis:1;
  }
    .figRestaurant img{
      margin:auto;
    }
    .figCredit{
      font-size: 0.7em;
      font-style: italic;
      text-align: center;
      max-width: 250px;
    }
    .figCreditGalerie{
      display: none;
    }
    .figRestaurant:hover .figCreditGalerie{
      display: flex;
      font-size: 0.7em;
      font-style: italic;
      text-align: center;
      max-width: 175px;
    }
    
#sociaux{
  display:flex;
  margin:auto;
}
.footerSocial{
  width:75px;
}

@media screen and (max-device-width: 600px) {
  .figureNormal img{
    width: 100%;
  }
  .footerSocial{
    order:1;
  }
}
