<a href="?action=event">Retour à la page évènements</a>
<h2 class="h2Normal">Animation culturelle en partenariat avec l'association Normandie-Taïwan</h2>
<p class="pNormal">Bonjour à tous,<br><br>La dernière après-midi culturelle ayant eue du succès, nous avons décidé de réitérer l'expérience afin de passer de nouveau une après-midi d'échange et de découverte en votre compagnie.<br><br>En venant à cette animation, vous aurez l'occasion de découvrir et de vous essayer à deux célèbres jeux asiatiques : le Mah-jong et le Jeu de Go. Vous pourrez également participer à un atelier d'I'origami (participation de 2€ par personne). Le tout dans une ambiance chaleureuse et conviviale comme le veut l'esprit du restaurant. Nous souhaiterions que cet évènement soit un moment de partage et de discussion. Petits comme grands, vous serez évidemment les bienvenus.</p>

<figure class="figureNormal">
<img width="512" alt="Go game" src="img/galerie/event/article/assoCult/3119431476_98a42a6544_z.jpg"/>
<figcaption><p class="capNormal">Auteur: Audrey (Flickr),<br> licence CC02 <a href="https://www.flickr.com/photos/moohaha/3119431476/" target="_blank">Url d'origine</a> </p></figcaption>
</figure>

<h3 class="h3Normal">Informations pratiques</h3>
<p class="pNormal">Le samedi 12/03/16 de 14h à 17h<br><br>L'entrée sera libre mais dans la limite des places disponibles. L'entrée sera gratuite (nous demanderons seulement une participation de 2€ par personne pour l'atelier Origami). Les consommations elles, seront payante au tarif habituel du restaurant.</p>

<p class="pNormal">Nous vous attendons nombreux et sommes impatients de partager ce moment en votre compagnie!<br><br>L'équipe du Timsam.</p>