<section id="c-article">
    <h1>Conférence : secret d'un chef dans la nature 2ème édition</h1>
    <p class="c-article__text text-align__justify">Suite à de nombreux retours de personne n'ayant pas pu assister à la première conférence pour cause de vacance ou d'indisponibilité et suite à son succès, le Timsam accueillera pour la deuxième fois la conférence secret d'un chef dans la nature de Charles-Érick Labadille (écrivain, docteur en biologie et géographe) et d'Alain Hastain (chef falaisien). Au programme, vous apprendrez entre autres à reconnaitre et retrouver des plantes sauvages comestibles et à les préparer pour les consommer.</p>
    <p class="c-article__text text-align__justify">Vous pourrez également vous inscrire (directement à la conférence) pour une balade en pleine nature avec Charles-Erick Labadille afin d'appliquer la théorie, le printemps étant une très bonne saison pour débuter. Nous ne sommes pas embrigadés dans la cuisine asiatique et recherchons toujours de nouvelles influences : mêler balade en pleine nature, produit authentique (gratuit de surcroît) et bonne cuisine... C'est pour nous la définition d'un bon moment, pas vous ?</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Le livre :</h2>
    <div class="c-article__image">
        <figure class="c-article__image-figure">
            <img class="c-article__image-image" src="/img/galerie/event/article/secret_chef/couverture.jpg" alt="Couverture livre secret d'un chef"/>
            <figcaption class="c-article__image-caption">Auteurs: Charles-erick Labadille, Alain Hastain<br>Édité par : Liberfaber<br>Tous droits réservés</figcaption>
        </figure>
    </div>

    <p class="c-article__text text-align__justify">Suite à la sortie en décembre 2015 de leur ouvrage « Les secrets d’un chef dans la nature », les deux auteurs, Alain Hastain et Charles-Erick Labadille viennent d’être récompensés au niveau national par le « Gourmand awards », catégorie « Best chef book ». Ce prix organisé depuis une quinzaine d’années par Édouard Cointreau peut être comparé aux Oscars, mais en ce qui concerne les livres de cuisine, d’oenologie et d’art de la table. « Les secrets d’un chef… », où l’on découvre une soixantaine de recettes originales associées à la présentation de la cinquantaine de plantes sauvages utilisées pour ces préparations gastronomiques, est qualifié pour le prochain « Gourmand best in the world » : 209 nations sont en compétition et la remise des prix aura lieu le 28 mai 2016 à Yantai en Chine.</p>
    <p class="c-article__text text-align__justify">Pour fêter cet heureux événement, les deux auteurs vous proposent une séance de conférence-projection-dédicace pour découvrir les plantes sauvages comestibles et les secrets du chef falaisien Alain Hastain qui les met à l’honneur depuis plus de vingt ans dans son restaurant de Falaise, « l’Attache ».</p>
    <p class="c-article__text text-align__justify">Des livres seront également disponibles à la vente lors de l'événement avec possibilité de dédicace.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">La presse en parle :</h2>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/secret_chef/Ouest-France-20-12-2015-1.jpg" data-lightbox="La presse en parle" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/secret_chef/Ouest-France-20-12-2015-1_mini.jpg" alt="article de presse 1">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Fanette BON<br>Édité par : Ouest France<br>Le 19-20 décembre 2015<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/secret_chef/20151210_Nouvelles_Falaise.jpg" data-lightbox="La presse en parle" data-title="image 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/secret_chef/20151210_Nouvelles_Falaise_mini.jpg" alt="article de presse 2">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Les nouvelles de Falaise<br>Édité par : Les Nouvelles de Falaise<br>Le 10 décembre 2015<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/secret_chef/Ouest-France-19-01-2016.jpg" data-lightbox="La presse en parle" data-title="image 3" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/secret_chef/Ouest-France-19-01-2016_mini.jpg" alt="article de presse 3">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Fanette BON<br>Édité par : Ouest France<br>Le 19 janvier 2016<br>Tous droits réservés</figcaption>
        </figure>
    </div>

    <h2 class="c-article__subtitle">Et même la radio :</h2>
    <p class="c-article__text text-align__center">- Émission Grain de sel du 14/12/2015 sur France Bleu Normandie -</p>
    <p class="text-align__center"><object class="lecteurAudio" type="application/x-shockwave-flash" data="/dewplayer.swf" width="200" height="20" id="dewplayer" name="dewplayer"> <param name="wmode" value="transparent" /><param name="movie" value="/dewplayer.swf" /> <param name="flashvars" value="mp3=/mp3/Graindesel141215.mp3&amp;showtime=1" /> </object></p>

    <p class="c-article__text text-align__justify">De nouveau au restaurant le Tim Sam à 15h00 le 09/04/2016 ; Venez nombreux. L’entrée est gratuite et la durée de la conférence est d’environ une heure trente. Les projections sont suivies d'une séance de dédicace.</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam</p>

</section>
