<section id="c-article">
    <h1>Une soirée à la table du chef : retour sur la soirée</h1>
    <p class="c-article__text text-align__justify">Comme vous le savez peut-être, nous avons organisé une soirée spéciale le mardi 5 avril dernier. Le principe était de vous faire découvrir un menu authentique et exclusif, élaboré par le chef au cours du mois précédent. Les participants ont donc eu le choix entre un menu végétarien et un menu classique. Ils avaient cependant réservé sans avoir la moindre idée de ce qu'ils trouveraient dans leur assiette !</p>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/
        img/galerie/event/article/debrief_table_chef_1/9.jpg" alt="Photo de la salle lors de la soirée"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <p class="c-article__text text-align__justify">Côté équipe, nous avons été très heureux de cet exercice nouveau et de l'ambiance chaleureuse qui a régné dans le restaurant ce premier mardi du mois d'avril. Nous remercions sincèrement les participants pour leur confiance et leur curiosité. Nous vous remercions pour tous les commentaires, critiques et conseils divers et variés qui ont suivis la dégustation.</p>
    <p class="c-article__text text-align__justify">Côté client, vous avez tous semblé apprécier le repas, malgré les goûts différents de chacun. Il a été intéressant pour nous de voir que, si certains plats n'étaient pas tout à fait au goût de tous, le plaisir de la découverte a finalement semblé l’emporter. Le passage régulier du chef de table en table pour expliquer sa démarche créative, présenter la suite ou récolter les opinions de chacun a également paru vous plaire.</p>
    <p class="c-article__text text-align__justify">Lors de cet événement nous avons cherché à vous surprendre, vous impliquer mais aussi vous faire découvrir des saveurs purement traditionnelles au travers de plats que vous n'auriez pas forcément choisis en temps normal.</p>

    <p class="c-article__text text-align__justify">Etant donné que cette soirée a été apprécié à la fois des clients et de l’équipe, nous avons décidé de renouveler l’expérience tous les premiers mardis du mois. Nous avions limité cette première tentative à une vingtaine de couverts si bien que avons dû refuser quelques personnes. En effet, le défi nous semblait suffisant pour une première fois ! Pour les suivantes, nous accepterons les réservations jusqu’à ce que la salle soit remplie (environ 35 couverts). Toutefois, celle-ci reste petite et il faudra penser à réserver rapidement.</p>

    <p class="c-article__text text-align__justify">Pour vous donner une meilleure idée des plats que vous pourrez rencontrer lors de cet événement, voici le menu du 5 avril dernier :</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Le menu :</h2>

    <h3 class="c-article__category">En entrée : salade de papaye carotte façon lao</h3>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/
            img/galerie/event/article/debrief_table_chef_1/1.jpg" data-lightbox="Entrée 1" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/
                img/galerie/event/article/debrief_table_chef_1/1_mini.jpg" alt="Entrée : salade de papaye et frite de patate douce 1">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Pierre Labadille<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/
            img/galerie/event/article/debrief_table_chef_1/2.jpg" data-lightbox="Entrée 1" data-title="image 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/
                img/galerie/event/article/debrief_table_chef_1/2_mini.jpg" alt="Entrée : salade de papaye et frite de patate douce 2">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Pierre Labadille<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
    </div>
    <p class="c-article__text text-align__justify">Salade de papaye rapée préparée dans un mortier avec piments, ail, carottes, tomates cerises et coriandre accompagnée de beignets de patates douces.</p>

    <h3 class="c-article__category">En entrée : salade de papaye carotte façon lao</h3>
    <p class="c-article__text text-align__justify">Soupe aigre-douce aux crevettes et à la citronelle (veuillez nous excuser pour l'absence de photo).</p>

    <h3 class="c-article__category">En plat : flan salé laotien aux anchois</h3>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/
            img/galerie/event/article/debrief_table_chef_1/3.jpg" data-lightbox="Plat" data-title="Plat menu végétarien 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/
                img/galerie/event/article/debrief_table_chef_1/3_mini.jpg" alt="Plat du menu végétarien 1">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Pierre Labadille<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/
            img/galerie/event/article/debrief_table_chef_1/4.jpg" data-lightbox="Plat" data-title="Plat menu végétarien 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/
                img/galerie/event/article/debrief_table_chef_1/4_mini.jpg" alt="Plat du menu végétarien 2">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Pierre Labadille<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/
            img/galerie/event/article/debrief_table_chef_1/5.jpg" data-lightbox="Plat" data-title="Plat menu classique 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/
                img/galerie/event/article/debrief_table_chef_1/5_mini.jpg" alt="Plat du menu classique 1">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Pierre Labadille<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/
            img/galerie/event/article/debrief_table_chef_1/6.jpg" data-lightbox="Plat" data-title="Plat menu classique 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/
                img/galerie/event/article/debrief_table_chef_1/6_mini.jpg" alt="Plat du menu classique 2">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Pierre Labadille<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
    </div>
    <p class="c-article__text text-align__justify">Pour la version classique du plat : flan salé avec anchois et viande de porc hachée accompagné de riz et d'une sauce aux haricots de soja.</p>
    <p class="c-article__text text-align__justify">Pour la version végétarienne du plat : flan salé aux anchois et aux légumes (navets, carottes, etc) accompagné de riz et d'une sauce aux haricots de soja.</p>

    <h3 class="c-article__category">Le dessert : Chè Doden</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/
        img/galerie/event/article/debrief_table_chef_1/7.jpg" alt="Dessert du menu"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
    </figure>
    <p class="c-article__text text-align__justify">Soupe vietnamienne sucrée aux haricots noirs, gingembre, servi avec un soupçon de lait de coco.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Et une petite photo de l'équipe pour terminer ?</h2>
    <p class="c-article__text text-align__center"> - Avec le chef Som (à droite), Le serveur Arnaud (au milieu) et le commis Simon (à gauche) -</p>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/
        img/galerie/event/article/debrief_table_chef_1/10.jpg" alt="Photo de l'équipe lors de la soirée"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <p class="c-article__text text-align__center">Encore une fois, nous vous remercions tous de votre fidélité,</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
