<section id="c-article">
    <h1>Une soirée à la table du chef : déroulement des soirées</h1>
    
    <h2 class="c-article__subtitle">Le principe</h2>
    <p class="c-article__text text-align__justify">Nous nous sommes appuyés sur un concept nouveau et peu répandu né en Australie. Le principe est simple : vous proposer un repas inédit et en exclusivité issu d'une démarche créative de la part du chef. Selon vos retours sur les plats créés, nous réfléchirons à les proposer en formule ou en plat du jour ! En définitive, c'est un exercice amusant des deux côtés : briser la routine pour le chef et déguster des plats, sans les connaître à l'avance, pour vous.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Déroulement de la soirée</h2>
    <div class="c-article__list">
        <p class="c-article__list-header">horaires à titre indicatif</p>
        <ul class="c-article__list-items">
            <li class="c-article__list-item">20h00-20h30 : accueil par le chef des clients et apéritif</li>
            <li class="c-article__list-item">20h30 : Présentation de l'entrée par le chef et de sa démarche créative associée</li>
            <li class="c-article__list-item">20h40 : Service des entrées</li>
            <li class="c-article__list-item">21h00 : Présentation du plat par le chef et de sa démarche créative associée</li>
            <li class="c-article__list-item">21h15 : Service des plats</li>
            <li class="c-article__list-item">Ensuite: passage du chef aux différentes tables afin de discuter et d'échanger sur votre ressenti, vos suggestions d'améliorations ou encore sur vos déceptions le cas échéant.</li>
        </ul>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Informations pratiques</h2>
    <div class="c-article__list">
        <ul class="c-article__list-items">
            <li class="c-article__list-item">Quand ? Tous les premiers mardi du mois lors du service du soir.</li>
            <li class="c-article__list-item">Comment ? Uniquement sur réservation, et ce dans la mesure des places disponibles. Nous vous conseillons donc de réserver au plus vite si vous êtes intéressé(e)s. Les réservations se feront uniquement par téléphone au 09 83 01 21 47 ou directement sur place.</li>
            <li class="c-article__list-item">Combien ? Le tarif de cette soirée est fixé à 18€ TTC par personne hors boisson et apéritif (entrée, soupe, plat, dessert).</li>
            <li class="c-article__list-item">Quoi ? Vous aurez le choix entre deux menus: classique ou végétarien (ce choix devra être fait dès la réservation). Nous ne communiquerons aucune informations sur le menu, vous le découvrirez donc directement sur place !</li>
        </ul>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <p class="c-article__text text-align__justify">Pour voir les photos ou les retours des précédentes soirées, n’hésitez pas à consulter notre site internet rubrique <a href="/evenement.php" alt="Rubrique événement du site">« Animations »</a></p>
    <p class="c-article__text text-align__justify">Nous sommes impatients de partager ce moment en votre compagnie et espérons sincèrement que ce concept vous séduira.</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
