<section id="c-article">
    <h1>Une soirée à la table du chef : retour sur la soirée (deuxième édition)</h1>
    <p class="c-article__text text-align__justify">Pour cette soirée, le chef vous a préparé une spécialité lao extrêmement typique et difficile à trouver en France. Cela faisait longtemps qu'il souhaitait vous la proposer et cette soirée lui a permis de vous la faire découvrir.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Le menu :</h2>

    <h3 class="c-article__category">En entrée : salade de choux et beignets de crevette</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_2/1.jpg" alt="Photo entrée : salade de choux et beignets de crevettes"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <h3 class="c-article__category">En soupe : soupe aigre-douce au poisson et légumes</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_2/2.jpg" alt="Photo soupe : soupe aigre-douce au poisson et légumes"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <h3 class="c-article__category">En plat : nem thadeua</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_2/3.jpg" alt="Photo plat : nem thadeua"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>
    <p class="c-article__text text-align__justify">La traduction française pour nem thadeua serait : "riz croustillant et porc acidulé". Le riz de ce plat est d'abord travaillé et transformé en boule, cette boule est ensuite frite avant d'être ensuite cassée puis mélangée avec nos herbes habituelles (coriandre, gogaï, ciboulette...) et surtout avec du som mou (porc fermenté).</p>

    <span class="horizontal_separator_mobile"></span>

    <p class="c-article__text text-align__center">Encore une fois, nous vous remercions tous de votre fidélité, la prochaine soirée spéciale aura lieu le mardi 7 juin à 20h00!</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
