<a href="?action=event">Retour à la page évènements</a>

<h2 class="h2Normal">Une soirée à la table du chef : retour sur la soirée (troisième édition)</h2>

<p class="pNormal">Pour cette soirée, le chef vous a préparé une spécialité cambodgienne. Vous avez été nombreux au rendez-vous et nous avons passé une très bonne soirée en votre compagnie!</p>

<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_3/0.jpg" alt="Photo de la salle lors de la soirée">
	<figcaption><p class="figProduitsCredit">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>

<h2 class="h3Normal">Le menu :</h2>

<h3 class="h3Normal">En première entrée : beignet de patate douce, salade de choux et sauce de tomate fraiche/basilic thaï</h3>
<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_3/1.jpg" alt="Photo entrée : salade de choux et beignet de patate douce ">
	<figcaption><p class="figProduitsCredit">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>

<h3 class="h3Normal">En seconde entrée : noix Saint-Jacques au curry sur un lit de poireaux</h3>
<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_3/3.jpg" alt="Photo noix Saint-Jacques au curry ">
	<figcaption><p class="figProduitsCredit">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>

<h3 class="h3Normal">En plat : lap au poulet et riz gluant</h3>
<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_3/2.jpg" alt="Photo plat : lap au poulet">
	<figcaption><p class="figProduitsCredit">Auteur: Pierre Labadille<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>
<p class="pNormal">Le lap est un plat de fête réservé aux grandes occasions. Il est typique du Cambodge, de Thaïlande et du Laos. C'est une salade de viande froide agrémentée de beaucoup d'herbes aromatiques (basilic thaï, coriandre, gogaï, menthe, ciboulette...). Servi avec le riz lao/cambodgien typique: le riz gluant, cuit en panier de bambou.</p>

<p class="pBlack">Encore une fois, nous vous remercions tous de votre fidélité, la prochaine soirée spéciale aura lieu le mardi 5 juillet à 20h00, ce sera également la dernière soirée de cette saison avant notre fermeture annuelle. <br/>L'équipe du Timsam.</p>