<a href="?action=event">Retour à la page évènements</a>

<h2 class="h2Normal">Une soirée à la table du chef : retour sur la soirée (quatrième édition)</h2>

<p class="pNormal">Pour cette soirée, le chef vous a préparé une spécialité coréenne. Cette soirée a été la dernière de la saison la rendant ainsi encore plus spéciale. Nous avons encore une fois passée une très bonne soirée en votre compagnie!</p>

<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_4/7.jpg" alt="Photo de la salle lors de la soirée">
	<figcaption><p class="figProduitsCredit">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>


<h2 class="h3Normal">Le menu :</h2>

<h3 class="h3Normal">Apéritif : Punch</h3>
<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_4/19.jpg" alt="le punch du timsam">
	<figcaption><p class="figProduitsCredit">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>

<h3 class="h3Normal">En première entrée : rouleau de canard aux quatre parfums</h3>
<p class="pInfo"> - cliquez pour agrandir -</p>
<div class="imgConteneur">
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/15.jpg" data-lightbox="Entrée" data-title="image 1">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/15_mini.jpg" alt="entrée : rouleau de canard aux quatre parfums"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/16.jpg" data-lightbox="Entrée" data-title="image 2">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/16_mini.jpg" alt="entrée : rouleau de canard aux quatre parfums"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
</div>

<h3 class="h3Normal">En seconde entrée : bouillon de courgette à la coriandre et aux herbes</h3>
<p class="pInfo"> - cliquez pour agrandir -</p>
<div class="imgConteneur">
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/17.jpg" data-lightbox="Entrée2" data-title="image 1">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/17_mini.jpg" alt="entrée : bouillon de courgette à la coriandre et aux herbes"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/18.jpg" data-lightbox="Entrée2" data-title="image 2">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/18_mini.jpg" alt="entrée : bouillon de courgette à la coriandre et aux herbes"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
</div>

<h3 class="h3Normal">En plat : barbecue coréen (Bulgogi)</h3>
<p class="pInfo"> - cliquez pour agrandir -</p>
<div class="imgConteneur">
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/14.jpg" data-lightbox="Plat" data-title="Plat menu classique">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/14_mini.jpg" alt="Plat du menu classique"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/11.jpg" data-lightbox="Plat" data-title="Plat menu végétarien">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/11_mini.jpg" alt="Plat du menu végétarien"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/9.jpg" data-lightbox="Plat" data-title="Plat menu classique">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/9_mini.jpg" alt="Plat du menu classique"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/10.jpg" data-lightbox="Plat" data-title="Plat menu classique">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/10_mini.jpg" alt="Plat du menu classique"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/12.jpg" data-lightbox="Plat" data-title="Plat menu classique">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/12_mini.jpg" alt="Plat du menu classique"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/debrief_table_chef_4/13.jpg" data-lightbox="Plat" data-title="Plat menu classique">
	    	<img src="img/galerie/event/article/debrief_table_chef_4/13_mini.jpg" alt="Plat du menu classique"/>
	    </a>
  		<figcaption><p class="figCreditGalerie">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</p></figcaption>
	</figure>
</div>
<p class="pNormal">Brochettes de viandes marinées à la citronelle (de légume mariné pour la formule végétarien-talienne), accompagnées de beignets de poulet (beignets de patate douce en version végétarienne), de crudités, d'une sauce aux harricots noir/tomate basilique et de riz.</p>

<h3 class="h3Normal">Dessert : Salade de fruit au lait de coco et ses lamelles de manioc</h3>
<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_4/4.jpg" alt="Salade de fruit au lait de coco et ses lamelles de manioc">
	<figcaption><p class="figProduitsCredit">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>

<h2 class="h3Normal">Et une petite photo de la cuisine ?</h2>
<p class="pInfo"> - Avec le chef Som (à droite) et le commis d'été Pierre -</p>
<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_4/6.jpg" alt="Photo de l'équipe lors de la soirée">
	<figcaption><p class="figProduitsCredit">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>

<p class="pBlack">Encore une fois, nous vous remercions tous de votre fidélité,<br/>L'équipe du Timsam.</p>