<section id="c-article">
    <h1>Une soirée à la table du chef : retour sur la soirée (quatrième édition)</h1>
    <p class="c-article__text text-align__justify">Pour cette soirée, le chef vous a préparé une spécialité coréenne. Cette soirée a été la dernière de la saison la rendant ainsi encore plus spéciale. Nous avons encore une fois passée une très bonne soirée en votre compagnie!</p>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_4/7.jpg" alt="Photo de la salle lors de la soirée"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Le menu :</h2>

    <h3 class="c-article__category">Apéritif : Punch</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_4/19.jpg" alt="le punch du timsam"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <h3 class="c-article__category">En première entrée : rouleau de canard aux quatre parfums</h3>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/15.jpg" data-lightbox="Entrée" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/15_mini.jpg" alt="entrée : rouleau de canard aux quatre parfums">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/16.jpg" data-lightbox="Entrée" data-title="image 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/16_mini.jpg" alt="entrée : rouleau de canard aux quatre parfums">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
    </div>

    <h3 class="c-article__category">En seconde entrée : bouillon de courgette à la coriandre et aux herbes</h3>
    <div class="c-article__images">
    	<figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/17.jpg" data-lightbox="Entrée 2" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/17_mini.jpg" alt="entrée : bouillon de courgette à la coriandre et aux herbes">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/18.jpg" data-lightbox="Entrée 2" data-title="image 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/18_mini.jpg" alt="entrée : bouillon de courgette à la coriandre et aux herbes">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
    </div>

    <h3 class="c-article__category">En plat : barbecue coréen (Bulgogi)</h3>
    <div class="c-article__images">
    	<figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/14.jpg" data-lightbox="Plat" data-title="Plat menu classique 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/14_mini.jpg" alt="Plat du menu classique 1">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/11.jpg" data-lightbox="Plat" data-title="Plat menu végétarien 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/11_mini.jpg" alt="Plat menu végétarien 2">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/9.jpg" data-lightbox="Plat" data-title="Plat menu classique 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/9_mini.jpg" alt="Plat du menu classique 2">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/10.jpg" data-lightbox="Plat" data-title="Plat menu classique 3" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/10_mini.jpg" alt="Plat du menu classique 3">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/12.jpg" data-lightbox="Plat" data-title="Plat menu classique 4" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/12_mini.jpg" alt="Plat du menu classique 4">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/debrief_table_chef_4/13.jpg" data-lightbox="Plat" data-title="Plat menu classique 5" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/debrief_table_chef_4/13_mini.jpg" alt="Plat du menu classique 5">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam<br>Tous droits réservés</figcaption>
        </figure>
    </div>
    <p class="c-article__text text-align__justify">Brochettes de viandes marinées à la citronelle (de légume mariné pour la formule végétarien-talienne), accompagnées de beignets de poulet (beignets de patate douce en version végétarienne), de crudités, d'une sauce aux harricots noir/tomate basilique et de riz.</p>

    <h3 class="c-article__category">Dessert : Salade de fruit au lait de coco et ses lamelles de manioc</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_4/4.jpg" alt="Salade de fruit au lait de coco et ses lamelles de manioc"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Et une petite photo de la cuisine ?</h2>
    <p class="c-article__text text-align__center">- Avec le chef Som (à droite) et le commis d'été Pierre -</p>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_4/6.jpg" alt="Photo de l'équipe lors de la soirée"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <p class="c-article__text text-align__center">Encore une fois, nous vous remercions tous de votre fidélité,</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
