<section id="c-article">
    <h1>Une soirée à la table du chef : retour sur la soirée (cinquième édition)</h1>
    <p class="c-article__text text-align__justify">Pour cette soirée, le chef vous a préparé une spécialité coréen. Vous avez été nombreux au rendez-vous et nous avons passé une très bonne soirée en votre compagnie! Nous avons également eu l'occasion d'y féter la réouverture du restaurant après nos vacances d'été.</p>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/debrief_table_chef_5/10.jpg" alt="Photo de la salle lors de la soirée"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Le menu :</h2>

    <h3 class="c-article__category">En apéritif : Mojito</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/debrief_table_chef_5/9.jpg" alt="Mojito"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <h3 class="c-article__category">En entrée : flan de poisson au lait de coco et ses crudités</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/debrief_table_chef_5/7.jpg" alt="entrée : flan de poisson au lait de coco et ses crudités"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <h3 class="c-article__category">En plat : bibimbap</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/debrief_table_chef_5/3.jpg" alt="Photo plat bibimbap"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>
    <p class="c-article__text text-align__center">Riz et divers légumes cuits de façon différente (vapeur, sauté, fris..) au poulet et à la citronelle.</p>

    <h3 class="c-article__category">En dessert : gateau de riz gluant au lait de coco napé de flanc aux oeufs</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/debrief_table_chef_5/6.jpg" alt="dessert: gateau de riz gluant au lait de coco napé de flanc au oeuf"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Et une petite photo de l'équipe pour terminer ?</h2>
    <p class="c-article__text text-align__center"> - Avec le chef Som, Le serveur Arnaud, Céline (commis de l'équipe de fin de semaine) et notre nouvelle commis Anaïs qui travaillait avec nous pour la première fois dans le feu de l'action! -</p>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/debrief_table_chef_5/2.jpg" alt="Photo de l'équipe lors de la soirée"/>
        <figcaption class="c-article__image-caption">Auteur: Simon Lecoffre<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <p class="c-article__text text-align__center">Encore une fois, nous vous remercions tous de votre fidélité, la prochaine soirée spéciale aura lieu le mardi 4 octobre à 20h00.</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
