<a href="?action=event">Retour à la page évènements</a>

<h2 class="h2Normal">Animation culturelle en partenariat avec l'association Normandie-Taïwan : déroulement des après-midi</h2>

<p class="pNormal">Bonjour à tous,<br><br>L'association Normandie Taïwan organise régulièrement des après-midi Mah Jong dans notre restaurant. L'ambiance y est toujours chaleureuse et conviviale comme le veut l'esprit du restaurant. Nous souhaiterions que cet évènement soit un moment de partage et de discussion. Petits comme grands, vous serez évidemment les bienvenus.</p>

<figure class="figureNormal">
	<img width="512" alt="Go game" src="img/galerie/event/article/assoCult/Mah_Jong_template.jpg"/>
<figcaption><p class="capNormal">Auteur: Castelier Serge<br> CC2016</p></figcaption>
</figure>

<h3 class="h3Normal">Informations pratiques</h3>
<p class="pNormal">Certains samedis de 14h à 17h<br><br>L'entrée est libre mais dans la limite des places disponibles. L'entrée est gratuite. Les consommations elles, sont payante au tarif habituel du restaurant.</p>
<p class="pNormal">Si vous souhaitez réserver vous pouvez nous joindre au restaurant par téléphone 09 83 01 21 47 ou contacter directement l'association par mail: <a href="mailto:shentingtingbloquel@numericable.fr">shentingtingbloquel@numericable.fr</a>.</p>

<p class="pNormal">Nous vous attendons nombreux et sommes impatients de partager ce moment en votre compagnie!<br><br>L'équipe du Timsam.</p>