<section id="c-article">
    <h1>Animation culturelle en partenariat avec l'association Normandie-Taïwan : déroulement des après-midi</h1>
    <p class="c-article__text text-align__justify">L'association Normandie Taïwan organise régulièrement des après-midi Mah Jong dans notre restaurant. L'ambiance y est toujours chaleureuse et conviviale comme le veut l'esprit du restaurant. Nous souhaiterions que cet évènement soit un moment de partage et de discussion. Petits comme grands, vous serez évidemment les bienvenus.</p>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/assoCult/Mah_Jong_template.jpg" alt="Go game"/>
        <figcaption class="c-article__image-caption">Auteur: Castelier Serge<br> CC2016</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Informations pratiques</h2>
    <div class="c-article__list">
        <p class="c-article__list-header">Certains samedis de 14h à 17h</p>
        <ul class="c-article__list-items">
            <li class="c-article__list-item">L'entrée est libre mais dans la limite des places disponibles. L'entrée est gratuite. Les consommations elles, sont payante au tarif habituel du restaurant.</li>
            <li class="c-article__list-item">Si vous souhaitez réserver vous pouvez nous joindre au restaurant par téléphone 09 83 01 21 47 ou contacter directement l'association par mail: <a href="mailto:shentingtingbloquel@numericable.fr">shentingtingbloquel@numericable.fr</a>.</li>
        </ul>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <p class="c-article__text text-align__center">Nous vous attendons nombreux et sommes impatients de partager ce moment en votre compagnie!</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
