<a href="?action=event">Retour à la page évènements</a>
<h2 class="h2Normal">Voyage au vietnâm 2012: une exposition de Marie Hamel</h2>
<p class="pNormal">Le Timsam a accueilli avec grand plaisir cette exposition pour quelques mois ! Les photos de Marie Hamel traduisent le regard qu’elle a pu porter sur ce court voyage au pays natal de sa grand-mère maternelle. <br><br> « Il n’est pas question ici d’une quelconque recherche artistique, mais plutôt d’une tentative de partager mes ressentis, mes émotions, mes rêveries. Ces photos me dévoilent, car je donne à regarder ce que je trouve beau. »</p>

<div class="imgConteneur">
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/marie_hamel/6.jpg" data-lightbox="album-1" data-title="image 1">
      <img src="img/galerie/event/article/marie_hamel/6_mini.png" id="imgplat" alt="cliquez pour agrandir"/>
    </a>
  <figcaption><p class="figCreditGalerie">Artiste: Marie Hamel<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/marie_hamel/2.jpg" data-lightbox="album-1" data-title="image 2">
      <img src="img/galerie/event/article/marie_hamel/2_mini.png"  alt="cliquez pour agrandir"/>
    </a>
  <figcaption><p class="figCreditGalerie">Artiste: Marie Hamel<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/marie_hamel/3.jpg" data-lightbox="album-1" data-title="image 3">
      <img src="img/galerie/event/article/marie_hamel/3_mini.png" alt="cliquez pour agrandir"/>
    </a>
  <figcaption><p class="figCreditGalerie">Artiste: Marie Hamel<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/marie_hamel/1.jpg" data-lightbox="album-1" data-title="image 4">
      <img src="img/galerie/event/article/marie_hamel/1_mini.png" alt="cliquez pour agrandir"/>
    </a>
  <figcaption><p class="figCreditGalerie">Artiste: Marie Hamel<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
      <a href="img/galerie/event/article/marie_hamel/5.jpg" data-lightbox="album-1" data-title="image 5">
        <img src="img/galerie/event/article/marie_hamel/5_mini.png" alt="cliquez pour agrandir"/>
      </a>
  <figcaption><p class="figCredit">Artiste: Marie Hamel<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
      <a href="img/galerie/event/article/marie_hamel/4.jpg" data-lightbox="album-1" data-title="image 6">
        <img src="img/galerie/event/article/marie_hamel/4_mini.png" alt="cliquez pour agrandir"/>
      </a>
  <figcaption><p class="figCreditGalerie">Artiste: Marie Hamel<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  
</div>

<p class="pNormal">Pour contacter l’auteure, n’hésitez pas à nous contacter : <a href="mailto:contact@le-timsam.com">contact@le-timsam.com</a></p>