<section id="c-article">
    <h1>Une soirée à la table du chef : retour sur la soirée (sixième édition)</h1>
    <p class="c-article__text text-align__justify">Pour cette soirée, le chef vous a préparé une spécialité laotienne. Vous avez été nombreux au rendez-vous et nous avons passé une très bonne soirée en votre compagnie! Nous nous excusons d'avoir oublié de prendre des photos...</p>

    <span class="horizontal_separator_mobile"></span>
 
    <h2 class="c-article__subtitle">Le menu :</h2>
    <p class="c-article__text text-align__justify">Le déroulement du repas a été quelque peu différent de d'habitude puisque nous avons servi tous les plats en même temps. Notre volonté a été de vous faire manger laotien à la laotienne (tous les mets servis simultanément!).</p>
    <div class="c-article__list">
        <ul class="c-article__list-items">
            <li class="c-article__list-item">Lap au boeuf (tartare asiatique)</li>
            <li class="c-article__list-item">Poulet mariné à la citronnelle et piment et grillé au four</li>
            <li class="c-article__list-item">Soupe aigre douce avec ananas et tomates cerises</li>
            <li class="c-article__list-item">Dessert composé de fruits exotiques : tamarin, jujube et papaye</li>
        </ul>
    </div>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/debrief_table_chef_6/1.jpg" alt="ensemble du menu"/>
        <figcaption class="c-article__image-caption">Auteur: Alain Ferrand<br>© 2016 Timsam, Tous droits réservés</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <p class="c-article__text text-align__center">Encore une fois, nous vous remercions tous de votre fidélité, la prochaine soirée spéciale aura lieu le mardi 8 novembre à 20h00.</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
