<a href="?action=event">Retour à la page évènements</a>
 
<h2 class="h2Normal">Une soirée à la table du chef : retour sur la soirée (sixième édition)</h2>

<p class="pNormal">Pour cette soirée, le chef vous a préparé une spécialité laotienne. Vous avez été nombreux au rendez-vous et nous avons passé une très bonne soirée en votre compagnie! Nous nous excusons d'avoir oublié de prendre des photos...</p>


<h2 class="h3Normal">Le menu :</h2>

<p class="pNormal">Le déroulement du repas a été quelque peu différent de d'habitude puisque nous avons servi tous les plats en même temps. Notre volonté a été de vous faire manger laotien à la laotienne (tous les mets servis simultanément!).</p>

<ul class="ulCentre">
	<li>Lap au boeuf (tartare asiatique)</li>
	<li>Poulet mariné à la citronnelle et piment et grillé au four</li>
	<li>Soupe aigre douce avec ananas et tomates cerises</li>
	<li>Dessert composé de fruits exotiques : tamarin, jujube et papaye</li>
</ul>

<figure class="figureNormal">
	<img src="img/galerie/event/article/debrief_table_chef_6/1.jpg" alt="ensemble du menu">
	<figcaption><p class="figProduitsCredit">Auteur: Alain Ferrand<br>© 2016 Timsam, Tous droits réservés</p></figcaption>
</figure>

<p class="pBlack">Encore une fois, nous vous remercions tous de votre fidélité, la prochaine soirée spéciale aura lieu le mardi 8 novembre à 20h00. <br/>L'équipe du Timsam.</p>