<a href="?action=event">Retour à la page évènements</a>
<h2 class="h2Normal">Exposition de Cécile Azorin</h2>
<p class="pNormal">Nous n'avions malheureusement pas réexposé d'artiste depuis longtemps faute de temps (et d'artiste!). C'est suite à un coup de coeur pour le travail de Céline Azorin, découvert par le biais d'une exposition au cinéma le Lux, que nous avons décidé de la contacter afin de lui proposer d'exposer au restaurant. C'est avec un grand plaisir que nous vous proposons de découvrir ces oeuvres au restaurant pour une durée limitée.<br>
Nous espérons que cette exposition vous plaira autant que nous!</p> 

<h3 class="h3Normal">Le mot de l'artiste:</h3>
<p class="pNormal">Au TimSam, j'ai choisi de présenter des travaux personnels :</p>
<p class="pNormal">¤ "D'états d'Âmes",  une série d'illustration imprimées en sérigraphie, issue d'une réflexion sur les multiples facettes qui nous constituent, celles qui se révèlent, selon les contextes de la vie, les situations les rencontres...<br><br>
¤ La re-visite de deux affiches de cinéma (toujours en sérigraphies) de deux films cultes "La Guerre des Boutons" et de "Freaks".<br><br>
¤ Toujours en sérigraphie, "Hareng-Rouge", une carte rotative, qui illustre une course sans fin d'un pêcheur qui harponne un poisson géant, qui s'apprête à le manger...<br><br>
¤ et deux tableaux, sortes de  "trompes l'œil" où je joue avec les matières, les ombres, et le volume : "Drôle de Zoo" et "Home".</p>

<h3 class="h3Normal">Quelques oeuvres :</h3>
<p class="pInfo"> - cliquez pour agrandir -</p>

<div class="imgConteneur">
    <figure class="figRestaurant">
        <a href="img/galerie/event/article/cecile_azorin/1.jpg" data-lightbox="album-1" data-title="image 1">
            <img src="img/galerie/event/article/cecile_azorin/1_mini.jpg" alt="cliquez pour agrandir"/>
        </a>
        <figcaption><p class="figCredit"><a href="http://celineazorin.wix.com/illustration" target="_Blank" alt="site de l'artiste">Cécile Azorin</a>, Tous droits réservés</p></figcaption>
    </figure>
    <figure class="figRestaurant">
        <a href="img/galerie/event/article/cecile_azorin/2.jpg" data-lightbox="album-1" data-title="image 2">
            <img src="img/galerie/event/article/cecile_azorin/2_mini.jpg" alt="cliquez pour agrandir"/>
        </a>
        <figcaption><p class="figCredit"><a href="http://celineazorin.wix.com/illustration" target="_Blank" alt="site de l'artiste">Cécile Azorin</a>, Tous droits réservés</p></figcaption>
    </figure>
    <figure class="figRestaurant">
        <a href="img/galerie/event/article/cecile_azorin/4.jpg" data-lightbox="album-1" data-title="image 3">
            <img src="img/galerie/event/article/cecile_azorin/4_mini.jpg" alt="cliquez pour agrandir"/>
        </a>
        <figcaption><p class="figCredit"><a href="http://celineazorin.wix.com/illustration" target="_Blank" alt="site de l'artiste">Cécile Azorin</a>, Tous droits réservés</p></figcaption>
    </figure>
    <figure class="figRestaurant">
        <a href="img/galerie/event/article/cecile_azorin/3.jpg" data-lightbox="album-1" data-title="image 4">
            <img src="img/galerie/event/article/cecile_azorin/3_mini.jpg" alt="cliquez pour agrandir"/>
        </a>
        <figcaption><p class="figCredit"><a href="http://celineazorin.wix.com/illustration" target="_Blank" alt="site de l'artiste">Cécile Azorin</a>, Tous droits réservés</p></figcaption>
    </figure>
    <figure class="figRestaurant">
        <a href="img/galerie/event/article/cecile_azorin/5.jpg" data-lightbox="album-1" data-title="image 5">
            <img src="img/galerie/event/article/cecile_azorin/5_mini.jpg" alt="cliquez pour agrandir"/>
        </a>
        <figcaption><p class="figCredit"><a href="http://celineazorin.wix.com/illustration" target="_Blank" alt="site de l'artiste">Cécile Azorin</a>, Tous droits réservés</p></figcaption>
    </figure>
</div>

<h3 class="h3Normal">Et l'auteure ?</h3>
<p class="pNormal">"Je suis illustratrice et graphiste indépendante depuis 2002. <br>Dans mon travail, j'alterne et je joue avec différentes techniques : couture, photographie, sérigraphie, infographie, modelage...<br><br>Univers visuel que j'ai eut l'occasion de développer avec les domaines de l’édition (dans le secteur du livre jeunesse), du spectacle vivant (marionnettes, scénographie, costumes...), ou encore de la communication (avec l'espace Jean Vilar notamment pour ceux qui connaissent cette belle salle de programmation de spectacle à Ifs)."</p>

<p class="pBlack">Céline Azorin<br>
auteure-Illustratrice<br>
<a href="http://celineazorin.wix.com/illustration" target="_Blank" alt="site web de Céline Azorin">http://celineazorin.wix.com/illustration</a><br>
<a href="https://www.facebook.com/celine.azorin" target="_Blank" alt="Facebook de Céline Azorin">https://www.facebook.com/celine.azorin</a></p>