<section id="c-article">
    <h1>Une soirée à la table du chef : retour sur la soirée (treizième édition)</h1>
    <p class="c-article__text text-align__justify">Pour cette soirée, le chef a décidé de sortir de l'aspect très traditionnel habituel et de vous proposer des créations personnelles. Nous remercions tous les participants pour leurs présences, nous avons encore une fois passé un très bon moment en votre compagnie !</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Le menu :</h2>

    <h3 class="c-article__category">En entrée : joue de sandre à la Timsam</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_13/1.jpg" alt="entrée : joue de sandre à la Timsam"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2017 Timsam, Tous droits réservés</figcaption>
    </figure>
    <p class="c-article__text text-align__center">Cuisson à l'étouffée sur un lit de poireaux, céleris et pleurotes au lait de coco. Le tout relevé avec de la coriandre et du gingembre.</p>

    <h3 class="c-article__category">En plat : tsukune de poulet à la citronnelle</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_13/4.jpg" alt="plat : tsukune de poulet à la citronnelle"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2017 Timsam, Tous droits réservés</figcaption>
    </figure>
    <p class="c-article__text text-align__center">Les boulettes (tsukune) de poulet sont assaisonée à la citronelle, à la menthe et au gingembre. Elles sont accompagnées de chips de patates douces et d'une sauce pimenté au sésame.</p>

    <h3 class="c-article__category">En dessert : crumble de fruits exotiques</h3>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/debrief_table_chef_13/7.jpg" alt="dessert: crumble de fruits exotiques"/>
        <figcaption class="c-article__image-caption">Auteur: Pierre Labadille<br>© 2017 Timsam, Tous droits réservés</figcaption>
    </figure>
    <p class="c-article__text text-align__center">Composé d'ananas, de mangue, de kiwi golden, de banane et de poire.</p>

    <span class="horizontal_separator_mobile"></span>

    <p class="c-article__text text-align__center">Encore une fois, nous vous remercions tous de votre fidélité, la prochaine soirée spéciale aura lieu le mardi 6 juin à 20h00.</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
