<section id="c-article">
    <h1>Exposition &amp; vernissage : Bestiaire de Jean-Louis Patrice</h1>
    <p class="c-article__text text-align__justify">Eh oui, il est temps de réhabiller nos murs! Et pour ce faire, nous avons le plaisir de vous proposer un vernissage, puis une exposition (qui restera quelques semaines) :</p>
    <p class="c-article__text text-align__center">Bestiaire de Jean-Louis Patrice (artiste Bas-Normand).</p>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="/img/galerie/event/article/jl_patrice/0_affiche.jpg" alt="affiche exposition"/>
        <figcaption class="c-article__image-caption">Réalisée par Jean-Louis Patrice<br>© 2014 Timsam, Tous droits réservés</figcaption>
    </figure>

    <p class="c-article__text text-align__justify">Si vous êtes intéressé(e) par le vernissage et que vous souhaitez recevoir une invitation, envoyez-nous un mail : <a href="mailto:event@le-timsam.com">event@le-timsam.com</a><br>Nous nous ferons un plaisir de vous en renvoyer une (dans la limite des places disponibles...)</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Et l'artiste alors ?</h2>
    <div class="c-article__desc-with-picture">
        <img class="c-article__desc-with-picture-image" src="/img/galerie/event/article/jl_patrice/0_jlpatrice.jpg" alt="Jean-Louis Patrice"/>
        <p class="c-article__text text-align__justify">L'artiste Jean-Louis PATRICE est un original: issu du milieu industriel, il a toujours évolué dans le domaine de la conception sans jamais oublier son intérêt pour l'art pictural et le travail du métal. Mais c'est aussi un cérébral, curieux et ouvert au monde qui l'entoure, sensible et effaré par ses incohérences et ses violences.</p>
        <p class="c-article__text text-align__justify">Si vous ajoutez à cela de rustres origines terriennes, vous avez les ingrédients pour qu'éclose chez lui un expressionnisme qui peut aller jusqu'au dérangeant!</p>
        <p class="c-article__text text-align__justify">Certains disent de sa peinture qu'elle est torturée, sans doute pour ne pas dire qu'il l'est lui-même, et pourtant il se trouve personnellement trop timoré. Allez  savoir de quoi il sera capable !!</p>
        <p class="c-article__text text-align__justify">Pour l’heure il se contente de nous présenter un travail sur l’expressionnisme animal, ou parfois l’anthropomorphisme affleure, tant pour lui, l’homme n’est pas si éloigné de la bête.</p>
        <p class="c-article__text text-align__right">Pierre PALTO, Critique d’art.</p>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Quelques oeuvres :</h2>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/4_estompee.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/4_estompee_mini.jpg" alt="Jean-Louis Patrice image 1">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/5_genisse.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/5_genisse_mini.jpg" alt="Jean-Louis Patrice image 2">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/3_chevalblanc.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 3" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/3_chevalblanc_mini.jpg" alt="Jean-Louis Patrice image 3">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/1_arromanches.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 4" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/1_arromanches_mini.jpg" alt="Jean-Louis Patrice image 4">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/2_chanteuse.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 5" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/2_chanteuse_mini.jpg" alt="Jean-Louis Patrice image 5">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/7_coqcombat.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 6" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/7_coqcombat_mini.jpg" alt="Jean-Louis Patrice image 6">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/8_coqvent.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 7" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/8_coqvent_mini.jpg" alt="Jean-Louis Patrice image 7">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="/img/galerie/event/article/jl_patrice/6_reflexionman.jpg" data-lightbox="Bestiaire - Jean-Louis Patrice" data-title="image 8" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="/img/galerie/event/article/jl_patrice/6_reflexionman_mini.jpg" alt="Jean-Louis Patrice image 8">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Jean-Louis Patrice<br />© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <div class="c-article__person">
        <p class="c-article__person-name">Jean-Louis Patrice</p>
        <p class="c-article__person-pro">Peintre</p>
        <div class="c-article__person-contact">
            <a class="c-article__person-contact-link" href="http://www.lafoliedesarts.fr/jeanlouispatrice" title="site de l'artiste" rel="nofollow" target="_blank">
                <i class="c-article__person-contact-icon icon-website"></i>
            </a>
            <a class="c-article__person-contact-link" href="https://www.facebook.com/jeanlouis.patrice" title="facebook de l'artiste" rel="nofollow" target="_blank">
                <i class="c-article__person-contact-icon icon-facebook"></i>
            </a>
        </div>
    </div>

</section>
