<a href="?action=event">Retour à la page évènements</a>
<h2 class="h2Normal">Exposition &amp; vernissage : Bestiaire de Jean-Louis Patrice</h2>

<p class="pNormal">Eh oui, il est temps de réhabiller nos murs! Et pour ce faire, nous avons le plaisir de vous proposer un vernissage, puis une exposition (qui restera quelques semaines) :<br><br>Bestiaire de Jean-Louis Patrice (artiste Bas-Normand).</p>
<figure class="figureNormal">
    <img src="img/galerie/event/article/jl_patrice/0_affiche.jpg" alt="affiche exposition"/>
  <figcaption><p class="capNormal">Réalisé par Jean-Louis Patrice<br>© 2014 Timsam, Tous droits réservés</p></figcaption>
</figure>
<p class="pNormal">Si vous êtes intéressé(e) par le vernissage et que vous souhaitez recevoir une invitation, envoyez-nous un mail : <a href="mailto:event@le-timsam.com">event@le-timsam.com</a><br>Nous nous ferons un plaisir de vous en renvoyer une (dans la limite des places disponibles...)</p>

<h3 class="h3Normal">Et l'artiste alors ?</h3>

<figure class="figurePrez">
    <img src="img/galerie/event/article/jl_patrice/0_jlpatrice.jpg" alt="Jean-Louis Patrice"/>
  <figcaption><p class="figProduitsCredit">Fournie par Jean-Louis Patrice<br>© 2014 Timsam, Tous droits réservés</p></figcaption>
</figure>
<p class="pJustifier">L'artiste Jean-Louis PATRICE est un original: issu du milieu industriel, il a toujours évolué dans le domaine de la conception sans jamais oublier son intérêt pour l'art pictural et le travail du métal. Mais c'est aussi un cérébral, curieux et ouvert au monde qui l'entoure, sensible et effaré par ses incohérences et ses violences.<br><br>Si vous ajoutez à cela de rustres origines terriennes, vous avez les ingrédients pour qu'éclose chez lui un expressionnisme qui peut aller jusqu'au dérangeant!<br><br>Certains disent de sa peinture qu'elle est torturée, sans doute pour ne pas dire qu'il l'est lui-même, et pourtant il se trouve personnellement trop timoré. Allez  savoir de quoi il sera capable !!<br><br>Pour l’heure il se contente de nous présenter un travail sur l’expressionnisme animal, ou parfois l’anthropomorphisme affleure, tant pour lui, l’homme n’est pas si éloigné de la bête. <br><br>Pierre PALTO, Critique d’art.</p>

<h3 class="h3Normal">Quelques oeuvres</h3>
<p class="pInfo"> - cliquez pour agrandir -</p>

<div class="imgConteneur">
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/4_estompee.jpg" data-lightbox="album-1" data-title="image 1">
      <img src="img/galerie/event/article/jl_patrice/4_estompee_mini.jpg" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCreditGalerie">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/5_genisse.jpg" data-lightbox="album-1" data-title="image 2">
      <img src="img/galerie/event/article/jl_patrice/5_genisse_mini.jpg" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCreditGalerie">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/3_chevalblanc.jpg" data-lightbox="album-1" data-title="image 3">
      <img src="img/galerie/event/article/jl_patrice/3_chevalblanc_mini.jpg" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCreditGalerie">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/1_arromanches.jpg" data-lightbox="album-1" data-title="image 4">
      <img src="img/galerie/event/article/jl_patrice/1_arromanches_mini.jpg" id="imgplat" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCreditGalerie">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/2_chanteuse.jpg" data-lightbox="album-1" data-title="image 5">
      <img src="img/galerie/event/article/jl_patrice/2_chanteuse_mini.jpg" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCredit">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/7_coqcombat.jpg" data-lightbox="album-1" data-title="image 6">
      <img src="img/galerie/event/article/jl_patrice/7_coqcombat_mini.jpg" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCreditGalerie">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/8_coqvent.jpg" data-lightbox="album-1" data-title="image 7">
      <img src="img/galerie/event/article/jl_patrice/8_coqvent_mini.jpg" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCredit">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/galerie/event/article/jl_patrice/6_reflexionman.jpg" data-lightbox="album-1" data-title="image 8">
      <img src="img/galerie/event/article/jl_patrice/6_reflexionman_mini.jpg" alt="cliquez pour agrandir"/>
    </a>
    <figcaption><p class="figCreditGalerie">Artiste: Jean-Louis Patrice<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
</div>

<p class="pNormal">Pour plus d'information, n'hésitez pas à visiter le site internet de l'artiste : <a href="http://www.lafoliedesarts.fr/jeanlouispatrice" target="_blank">www.lafoliedesarts.fr/jeanlouispatrice</a></p>