<section id="c-article">
    <h1>Dîner-concert : Charlie Larigot</h1>
    <p class="c-article__text text-align__justify">Nous vous avions déjà annoncé que cette année 2015 serait riche en nouveauté. Eh bien voici la première ! Nous enrichissons nos offres culturelles et sommes heureux d'enfin pouvoir vous présenter ce nouveau concept au Timsam sur lequel nous travaillons depuis quelque temps : le dîner-concert.</p>
    <p class="c-article__text text-align__justify">Tout comme les expositions, ce concept est destiné, à termes, à devenir plus fréquent ! Bien sûr, nous prendrons en compte vos avis afin de faire évoluer la chose de la meilleure façon possible.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Informations pratiques </h2>
    <div class="c-article__list">
        <p class="c-article__list-header"</p>
        <ul class="c-article__list-items">
            <li class="c-article__list-item">Uniquement sur réservation par téléphone : 09 83 01 21 47</li>
            <li class="c-article__list-item">Le restaurant sera réservé aux seuls participants et donc fermé au public (35 places maximum...)</li>
            <li class="c-article__list-item">Nous vous proposerons un apéritif, une première partie musicale, le repas (entrée et plat), une deuxième partie musicale et enfin le dessert</li>
            <li class="c-article__list-item">Nous proposerons un menu unique :
                <ul class="c-article__list-items">
                    <li class="c-article__list-item">Entrée : Salade Vietnamienne (composée d'émincés de carottes, d'oignon, de porc et de crevettes, arrosée d'une sauce dont le chef du Timsam a le secret)</li>
                    <li class="c-article__list-item">Plat : Pad thaï au poulet (pâtes sautées façon thaï au poulet et légumes)</li>
                    <li class="c-article__list-item">Dessert : Assiette de desserts gourmande (assortiment de desserts Timsam)</li>
                </ul>
            </li>
            <li class="c-article__list-item">Le tarif sera fixe et de 30€ ; les boissons seront en extra.</li>
            <li class="c-article__list-item">Date et heure : le 21 février 2015 de 19h30 à environ 23h00.</li>
            <li class="c-article__list-item">La prestation musicale est d'environ 2 heures</li>
            <li class="c-article__list-item">Si vous souhaitez en savoir plus, n'hésitez pas à nous contacter via notre mail, une réponse rapide est assurée : <a href="mailto:contact@le-timsam.com">contact@le-timsam.com</a></li>
        </ul>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Et l'artiste alors ?</h2>
    <div class="c-article__desc-with-picture">
        <img class="c-article__desc-with-picture-image" src="img/galerie/event/article/charlie_larigots/Charlie-Larigot_mini.png" alt="Charlie Larigot"/>
        <p class="c-article__text text-align__justify">Charlie Larigot C’est une sorte d’espion de la chanson qui, méfiant par nature, s’est toujours caché sous des identités variées : dans les années 70, on le connait sous le nom de Labadille, nom étrange sous lequel il donne des cours de gratte (pour les anciens qui se rappellent, « la poupée qui fait non », eh oui…!) et grave deux vinyles de chansons françaises ; puis, pendant trente ans, recherché par toutes les polices normandes, ce transfuge s’éclipse pour s’adonner à son autre vice, la botanique ; dans les années 2000, il réapparait comme auteur de quelques bouquins, entre autres sous le nom de CéLab ; aujourd’hui, il revient sous le patronyme idiot de Charlie Larigot.</p>
        <p class="c-article__text text-align__justify">Le 21 février 2015 au Tim Sam, Charlie sera accompagné, mais bien entendu « incognito », par la chanteuse-guitariste Temsah Larigot, plus connue sous le nom d’Odile Lab… car il l’a épousé pour réduire les frais généraux. En duo, ils entonneront leurs chansons d’humour.</p>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Charlie Larigot : « chansons d'humour »</h2>
    <p class="c-article__text text-align__justify">Côté paroles, Charlie Larigot a la langue bien pendue. Mais attention ! Il ne s’agit pas de chansons juste drôles. Plutôt que le rire, il a choisi le sourire, car comme le disait Jacques Sternberg, le sourire déploie sa « force d’attaque aux dépens de sujets aussi tragiques, aussi graves que l’amour, la guerre, l’avenir de l’homme, Dieu, la bombe atomique, le crime, le langage, le travail, la famille… » et la confiture, comme pourraient rajouter les Frères Jacques.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Les p'tits plats - Charlie Larigot :</h2>
    <p class="text-align__center"><object class="lecteurAudio" type="application/x-shockwave-flash" data="dewplayer.swf" width="200" height="20" id="dewplayer" name="dewplayer"> <param name="wmode" value="transparent" /><param name="movie" value="dewplayer.swf" /> <param name="flashvars" value="mp3=mp3/Les-ptits-plats-Larigots.mp3&amp;showtime=1" /> </object></p>
    <p class="c-article__text text-align__justify">Côté musique, Charlie Larigot est l’auteur de la plupart des titres qu’il interprète. Néanmoins, quelques reprises (Sanseverino, Dick Annegarn, Font et Val...) permettent au public de ne pas être totalement perdu dans toutes ces nouveautés. Alors si vous appréciez la guitare sèche, un peu swing et les paroles un rien souriantes...</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Pour en savoir plus :</h2>
    <p class="c-article__text text-align__justify">Nous vous conseillons, si vous êtes intéressé par l'art en général et les productions locales souvent méconnues, de visiter le site internet de l'artiste : <a href="http://ce-labadille.com/" target="_blank">Le bazar des arts</a>. En effet, en plus de proposer ses propres oeuvres, ce site est également destiné à en proposer d'autres. C'est à notre sens un petit "temple de culture" perdu au fin fond d'une forêt, le visiter est... une expérience à part entière. Sans parler gros sous, c'est également un endroit où découvrir : vous y trouverez des fiches artistes en tout genre, des extraits audios, des images, photo, livres... Vous aurez enfin, si vous le souhaitez, la possibilité d'acquérir via la vitrine les oeuvres, et ce, en toute sécurité.</p>

    <div class="c-article__person">
        <p class="c-article__person-name">Charles-Erick Labadille</p>
        <p class="c-article__person-pro">Auteur, compositeur, musicien, écrivain</p>
        <div class="c-article__person-contact">
            <a class="c-article__person-contact-link" href="http://ce-labadille.com/" title="site de l'artiste" rel="nofollow" target="_blank">
                <i class="c-article__person-contact-icon icon-website"></i>
            </a>
            <a class="c-article__person-contact-link" href="https://www.facebook.com/Trio.Larigot" title="facebook de l'artiste" rel="nofollow" target="_blank">
                <i class="c-article__person-contact-icon icon-facebook"></i>
            </a>
        </div>
    </div>

</section>
