<section id="c-article">
    <h1>Embarquement immédiat de Frédéric Filoche</h1>
    <p class="c-article__text text-align__justify">Frédéric Filoche est un artiste peintre amateur d'un genre particulier : il prend pour modèle les infrastructures, navires et bords de mer. Nous avons donc eu le plaisir d'exposer les aquarelles et acryliques de M. Filoche au Timsam.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Quelques oeuvres :</h2>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/1.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/1_mini.jpg" alt="Frédéric Filoche image 1">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/2.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/2_mini.jpg" alt="Frédéric Filoche image 2">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/3.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 3" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/3_mini.jpg" alt="Frédéric Filoche image 3">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/4.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 4" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/4_mini.jpg" alt="Frédéric Filoche image 4">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/5.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 5" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/5_mini.jpg" alt="Frédéric Filoche image 5">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/6.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 6" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/6_mini.jpg" alt="Frédéric Filoche image 6">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/7.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 7" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/7_mini.jpg" alt="Frédéric Filoche image 7">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/8.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 8" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/8_mini.jpg" alt="Frédéric Filoche image 8">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/fred_filoche/9.jpg" data-lightbox="Frédéric Filoche - Embarquement immédiat" data-title="image 9" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/fred_filoche/9_mini.jpg" alt="Frédéric Filoche image 9">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Frédéric Filoche<br>Prise de vue: Pierre Labadille<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
    </div>

    <span class="horizontal_separator_mobile"></span>

	<h2 class="c-article__subtitle">Le mot de l'artiste</h2>
    <p class="c-article__text text-align__justify">Depuis 1984 la peinture à l'aquarelle m'a bercé en prenant comme modèles les infrastructures, les navires et les bords de mer. Mes maitres à la peinture à l'aquarelle sont Marin Marie pour ses tableaux méticuleux, précis de bateaux transatlantiques de XXe siècle et pout les couleurs Roland Roycraft pour ses œuvres avec ses réserves et ses peintures indirectes.</p>
    <p class="c-article__text text-align__justify">Mon évolution dans la peinture me fait prendre un angle différant avec les bateaux. Je crée maintenant des extraits de bateaux : des morceaux de coque de navires avec son histoire, son vécu. J'aime le travaille de texture des vieilles coques rouillées avec ses soudures, de cargos imaginaires ou bien réels ou d'épaves.</p>

    <div class="c-article__person">
        <p class="c-article__person-name">Frédéric Filoche</p>
        <p class="c-article__person-pro">Peintre amateur</p>
        <div class="c-article__person-contact">
            <a class="c-article__person-contact-link" href="http://filochefred.perso.sfr.fr/index.html" title="site de l'artiste" rel="nofollow" target="_blank">
                <i class="c-article__person-contact-icon icon-website"></i>
            </a>
        </div>
    </div>

</section>
