<section id="c-article">
    <h1>Exposition : Fluidizm: Zonk</h1>
    <p class="c-article__text text-align__justify">Nouvelle exposition à votre restaurant le Timsam, cette fois-ci, nous accueillerons les oeuvres de Zonk avec des tableaux grands format de peinture abstraite. Encore une fois, nous tâchons de vous faire découvrir quelque chose de différent, pour le plaisir des yeux et du palais! Cette exposition restera exposée pendant deux mois comme à l'accoutumé.</p>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/zonk/speech_fluidizm_web.jpg" alt="Présentation Fluidizm"/>
        <figcaption class="c-article__image-caption">Réalisé par Zonk<br>© 2014 Timsam, Tous droits réservés</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Quelques oeuvres (d'autres à venir) :</h2>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/zonk/coveur_web.jpg" data-lightbox="Zonk - Fluidizm" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/zonk/coveur_web_mini.jpg" alt="Zonk image 1">
            </a>
            <figcaption class="c-article__images-caption">Artiste: Zonk<br>© 2013 Timsam, Tous droits réservés</figcaption>
        </figure>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Et l'artiste alors ?</h2>
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="img/galerie/event/article/zonk/biozonk_web.jpg" alt="Présentation Zonk"/>
        <figcaption class="c-article__image-caption">Réalisé par Zonk<br>© 2014 Timsam, Tous droits réservés</figcaption>
    </figure>
    <p class="c-article__text text-align__center">Pour votre information, Zonk est également l'artiste qui a réalisé entre autres l'enseigne de notre restaurant.</p>

</section>
