<a href="?action=event">Retour à la page évènements</a>
<h1 id="h1Normal">Exposition : Fluidizm: Zonk</h1>
<p class="pNormal">Nouvelle exposition à votre restaurant le Timsam, cette fois-ci, nous accueillerons les oeuvres de Zonk avec des tableaux grands format de peinture abstraite. Encore une fois, nous tâchons de vous faire découvrir quelque chose de différent, pour le plaisir des yeux et du palais! Cette exposition restera exposée pendant deux mois comme à l'accoutumé.</p>

<figure class="figureNormal">
    <img src="img/galerie/event/article/zonk/speech_fluidizm_web.jpg" alt="tous droit réservés à Zonk" title="Présentation Fluidizm"/>
  <figcaption><p class="capNormal">Réalisé par Zonk<br>© 2014 Timsam, Tous droits réservés</p></figcaption>
</figure>

<h2 class="h2Normal">Quelques oeuvres (d'autres à venir) :</h2>
<p class="pInfo"> - cliquez pour agrandir -</p>

<div id="imgConteneur">
	<figure class="figRestaurant">
		<a href="img/galerie/event/article/zonk/coveur_web.jpg" data-lightbox="album-1" data-title="image 1">
			<img src="img/galerie/event/article/zonk/coveur_web_mini.jpg" alt="tous droit réservés à Zonk" title="Présentation Fluidizm">
		</a>
    	<figcaption><p class="figCreditGalerie">Artiste: Zonk<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
</div>

<h2 class="h2Normal">Et l'artiste alors ?</h2>
<figure class="figureFull">
    <img src="img/galerie/event/article/zonk/biozonk_web.jpg" alt="tous droit réservés à Zonk" title="Présentation Zonk"/>
  <figcaption><p class="capNormal">Réalisé par Zonk<br>© 2014 Timsam, Tous droits réservés</p></figcaption>
</figure>
<p class="pNormal">Pour votre information, Zonk est également l'artiste qui a réalisé entre autres l'enseigne de notre restaurant.</p>