<section id="c-article">
    <h1>Animation culturelle en partenariat avec l'association Normandie-Taïwan</h1>
    <p class="c-article__text text-align__justify">Comme vous le savez, le Timsam est un lieu dans lequel nous nous sommes donné pour mission entre autres de vous faire découvrir la culture asiatique. C'est pourquoi nous avons décidé de mettre en place, en partenariat avec l'association Normandie-Taïwan (Ant), un après-midi culturel au sein du restaurant.</p>
    <p class="c-article__text text-align__justify">En venant à cette animation, vous aurez l'occasion de découvrir et de vous essayer à deux célèbres jeux asiatiques : le Mah-jong et le Jeu de Go. Une initiation à la calligraphie chinoise sera également au programme. Le tout dans une ambiance chaleureuse et conviviale comme le veut l'esprit du restaurant. Nous souhaiterions que cet évènement soit un moment de partage et de discussion. Petits comme grands, vous serez évidemment les bienvenus.</p>

    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Go_game.jpg/512px-Go_game.jpg" alt="Go game"/>
        <figcaption class="c-article__image-caption"><a class="c-article__images-link" href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Go_game.jpg/512px-Go_game.jpg" title="image originale" rel="nofollow" target="_blank">By zizou man (Flickr: Go game)</a>, via Wikimedia Commons</figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Informations pratiques</h2>
    <p class="c-article__text text-align__justify">Le samedi 7/11/15 de 14h à 17h<br><br>Cet événement ne sera accessible que sur réservation, et ce dans la mesure des places disponibles, nous vous conseillons donc de réserver au plus vite si vous êtes intéressé(e)s. Le tarif de cette prestation sera fixé à 5€ TTC par personne hors boisson. Réservations :</p>

    <div class="c-article__list">
        <ul class="c-article__list-items">
            <li class="c-article__list-item">Par mail : <a href="mailto:contact@le-timsam.com">contact@le-timsam.com</a> ou <a href="mailto:shentingtingbloquel@numericable.fr">shentingtingbloquel@numericable.fr</a></li>
            <li class="c-article__list-item">Par téléphone au restaurant : 09 83 01 21 47</li>
        </ul>
    </div>

    <p class="c-article__text text-align__justify">Nous vous attendons nombreux et sommes impatients de partager ce moment en votre compagnie!</p>

    <p class="c-article__text text-align__right">L'équipe du Timsam.</p>

</section>
