<a href="?action=event">Retour à la page évènements</a>
<h1 id="h1Normal">Animation culturelle en partenariat avec l'association Normandie-Taïwan</h1>
<p class="pNormal">Bonjour à tous,<br><br>Comme vous le savez, le Timsam est un lieu dans lequel nous nous sommes donné pour mission entre autres de vous faire découvrir la culture asiatique. C'est pourquoi nous avons décidé de mettre en place, en partenariat avec l'association Normandie-Taïwan (Ant), un après-midi culturel au sein du restaurant.<br><br>En venant à cette animation, vous aurez l'occasion de découvrir et de vous essayer à deux célèbres jeux asiatiques : le Mah-jong et le Jeu de Go. Une initiation à la calligraphie chinoise sera également au programme. Le tout dans une ambiance chaleureuse et conviviale comme le veut l'esprit du restaurant. Nous souhaiterions que cet évènement soit un moment de partage et de discussion. Petits comme grands, vous serez évidemment les bienvenus.</p>

<figure class="figureNormal">
<a title="By zizou man (Flickr: Go game) [CC BY 2.0 (http://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3AGo_game.jpg"><img width="512" alt="Go game" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Go_game.jpg/512px-Go_game.jpg"/></a>
</figure>

<h2 class="h2Normal">Informations pratiques</h2>
<p class="pNormal">Le samedi 7/11/15 de 14h à 17h<br><br>Cet événement ne sera accessible que sur réservation, et ce dans la mesure des places disponibles, nous vous conseillons donc de réserver au plus vite si vous êtes intéressé(e)s. Le tarif de cette prestation sera fixé à 5€ TTC par personne hors boisson. Réservations :</p>
<ul class="ulCentre">
    <li>Par mail : <a href="mailto:contact@le-timsam.com">contact@le-timsam.com</a> ou <a href="mailto:shentingtingbloquel@numericable.fr">shentingtingbloquel@numericable.fr</a></li>
    <li>Par téléphone au restaurant : 09 83 01 21 47</li>
</ul>
<p class="pNormal">Nous vous attendons nombreux et sommes impatients de partager ce moment en votre compagnie!<br><br>L'équipe du Timsam.</p>