<section id="c-article">
    <h1>Conférence : secret d'un chef dans la nature</h1>
    <p class="c-article__text text-align__justify">Le Timsam accueille pour la deuxième fois Charles-Érick Labadille le 20/02/2016 à 15h, mais dans un tout autre registre que la musique. Cette fois-ci il sera accompagné d'Alain Hastain (chef falaisien) et portera la casquette d'écrivain, géographe et biologiste. Au programme, vous apprendrez entre autres à reconnaître et retrouver des plantes sauvages comestibles et à les préparer pour les consommer. C'est le premier événement culinaire au Timsam et comme nous l'avons toujours dit, ce restaurant est un lieu d'échange. Nous ne sommes pas embrigadés dans la cuisine asiatique et recherchons toujours de nouvelles influences : mêler balade en pleine nature, produit authentique (gratuit de surcroît) et bonne cuisine... C'est pour nous la définition d'un bon moment, pas vous ?</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">Le livre :</h2>
    <div class="c-article__image">
        <figure class="c-article__image-figure">
            <img class="c-article__image-image" src="img/galerie/event/article/secret_chef/couverture.jpg" alt="Couverture livre secret d'un chef"/>
            <figcaption class="c-article__image-caption">Auteurs: Charles-erick Labadille, Alain Hastain<br>Édité par : Liberfaber<br>Tous droits réservés</figcaption>
        </figure>
    </div>
    <p class="c-article__text text-align__justify">Suite à la sortie en décembre 2015 de leur ouvrage « Les secrets d’un chef dans la nature », les deux auteurs, Alain Hastain et Charles-Erick Labadille viennent d’être récompensés au niveau national par le « Gourmand awards », catégorie « Best chef book ». Ce prix organisé depuis une quinzaine d’années par Édouard Cointreau peut être comparé aux Oscars, mais en ce qui concerne les livres de cuisine, d’oenologie et d’art de la table. « Les secrets d’un chef… », où l’on découvre une soixantaine de recettes originales associées à la présentation de la cinquantaine de plantes sauvages utilisées pour ces préparations gastronomiques, est qualifié pour le prochain « Gourmand best in the world » : 209 nations sont en compétition et la remise des prix aura lieu le 28 mai 2016 à Yantai en Chine.</p>
    <p class="c-article__text text-align__justify">Pour fêter cet heureux événement, les deux auteurs vous proposent une séance de conférence-projection-dédicace pour découvrir les plantes sauvages comestibles et les secrets du chef falaisien Alain Hastain qui les met à l’honneur depuis plus de vingt ans dans son restaurant de Falaise, « l’Attache ».</p>
    <p class="c-article__text text-align__justify">Des livres seront également disponibles à la vente lors de l'événement avec possibilité de dédicace.</p>

    <span class="horizontal_separator_mobile"></span>

    <h2 class="c-article__subtitle">La presse en parle :</h2>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/secret_chef/Ouest-France-20-12-2015-1.jpg" data-lightbox="La presse en parle" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/secret_chef/Ouest-France-20-12-2015-1_mini.jpg" alt="article de presse 1">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Fanette BON<br>Édité par : Ouest France<br>Le 19-20 décembre 2015<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/secret_chef/20151210_Nouvelles_Falaise.jpg" data-lightbox="La presse en parle" data-title="image 2" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/secret_chef/20151210_Nouvelles_Falaise_mini.jpg" alt="article de presse 2">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Les nouvelles de Falaise<br>Édité par : Les Nouvelles de Falaise<br>Le 10 décembre 2015<br>Tous droits réservés</figcaption>
        </figure>
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="img/galerie/event/article/secret_chef/Ouest-France-19-01-2016.jpg" data-lightbox="La presse en parle" data-title="image 3" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="img/galerie/event/article/secret_chef/Ouest-France-19-01-2016_mini.jpg" alt="article de presse 3">
            </a>
            <figcaption class="c-article__images-caption">Auteur: Fanette BON<br>Édité par : Ouest France<br>Le 19 janvier 2016<br>Tous droits réservés</figcaption>
        </figure>
    </div>

	<h2 class="c-article__subtitle">Et même la radio :</h2>
    <p class="c-article__text text-align__center">- Émission Grain de sel du 14/12/2015 sur France Bleu Normandie -</p>
    <p class="text-align__center"><object class="lecteurAudio" type="application/x-shockwave-flash" data="dewplayer.swf" width="200" height="20" id="dewplayer" name="dewplayer"> <param name="wmode" value="transparent" /><param name="movie" value="dewplayer.swf" /> <param name="flashvars" value="mp3=mp3/Graindesel141215.mp3&amp;showtime=1" /> </object></p>

    <p class="c-article__text text-align__justify">Au restaurant le Tim Sam à 15h00 le 20/02/2016 ; Venez nombreux. L’entrée est gratuite et la durée des conférences est d’environ une heure trente. Les projections sont suivies de séances de dédicace.</p>
    <p class="c-article__text text-align__right">L'équipe du Timsam</p>

</section>
