<section id="c-article">
    <h1></h1>
    <p class="c-article__text text-align__justify"></p>

    <span class="horizontal_separator_mobile"></span>

    <!-- Bloc liste -->
    <h2 class="c-article__subtitle"></h2>
    <div class="c-article__list">
        <p class="c-article__list-header"></p>
        <ul class="c-article__list-items">
            <li class="c-article__list-item"></li>
            <li class="c-article__list-item"></li>
        </ul>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <!-- Bloc images -->
    <h2 class="c-article__subtitle">Quelques oeuvres :</h2>
    <div class="c-article__images">
        <figure class="c-article__images-figure">
            <a class="c-article__images-preview-link" href="" data-lightbox="" data-title="image 1" title="cliquez pour agrandir">
                <img class="c-article__images-image" src="" alt="">
            </a>
            <figcaption class="c-article__images-caption"><a class="c-article__images-link" href="" title="site de l'artiste" rel="nofollow" target="_blank"></a>, Tous droits réservés</figcaption>
        </figure>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <!-- Bloc image seule -->
    <figure class="c-article__image-figure">
        <img class="c-article__image-image" src="" alt=""/>
        <figcaption class="c-article__image-caption"></figcaption>
    </figure>

    <span class="horizontal_separator_mobile"></span>

    <!-- Bloc normal -->
    <h2 class="c-article__subtitle"></h2>
    <p class="c-article__text text-align__justify"></p>

    <!-- Bloc menu -->
    <h2 class="c-article__subtitle"></h2>
    <h3 class="c-article__category"></h2>

    <!-- Bloc descriptif avec photo -->
    <h2 class="c-article__subtitle"></h2>
    <div class="c-article__desc-with-picture">
        <img class="c-article__desc-with-picture-image" src="" alt=""/>
        <p class="c-article__text text-align__justify"></p>
    </div>

    <span class="horizontal_separator_mobile"></span>

    <!-- Bloc artiste desc -->
    <div class="c-article__person">
        <p class="c-article__person-name"></p>
        <p class="c-article__person-pro"></p>
        <div class="c-article__person-contact">
            <a class="c-article__person-contact-link" href="" title="site de l'artiste" rel="nofollow" target="_blank">
                <i class="c-article__person-contact-icon icon-website"></i>
            </a>
            <a class="c-article__person-contact-link" href="" title="facebook de l'artiste" rel="nofollow" target="_blank">
                <i class="c-article__person-contact-icon icon-facebook"></i>
            </a>
        </div>
    </div>

</section>
