<div id="actualite">
	<h3 id="titreActualite">Actualité(s) :</h3>
	<ul id="listeActualite">
        <li>En ce moment au Timsam: <a href="?action=article21">exposition de Céline Azorin</a> (auteure-Illustratrice)</li>
		<!-- <li>Prochaine <a href="?action=article11">soirée à la table du chef</a> le 07/02/2017, pensez à réserver pour la dixième édition!</li>
        <li>Toute l'équipe du Timsam vous souhaite une excellente année 2017!</li>
        <li>Le Timsam a désormais son application mobile: retrouvez la sur l'appstore et le playstore (Timsam)!</li> -->
	</ul>
</div>