<section id="c-carte__section">
    <h1>Carte et réservation en ligne</h1>

    <article class="c-carte__article">
        <h2>Réservation en ligne</h2>
        <p class="c-carte__texte text-align__justify">Il est également possible de réserver par téléphone au <a href="tel:0983012147">09 83 01 21 47</a>. Néanmoins, veuillez noter que nous ne prenons pas de réservation par message vocal ou mail. Nous vous conseillons donc de nous appeler durant les horaires de service pour réserver par téléphone.</p>
        <div class="c-carte__widget">
            <iframe id="c-carte__booking-iframe" src="https://reservations.1001menus.com/indexv2.php?rid=343916&pid=1001&padding=0&bgcolor=ae0817&ftcolor=fff&ticolor=ae0817&bghvcolor=000&fthvcolor=fff&txtcolor=535353&type=web&lang=fr" scrolling="no"></iframe>
        </div> 
    </article>

    <span class="horizontal_separator_mobile"></span>

    <article class="c-carte__article">
        <h2>Carte en ligne</h2>
        <p class="c-carte__texte text-align__justify">Tous nos produits sont frais et fait maison. Merci d'impérativement nous signaler toutes allergies alimentaires (principalement fruits de mer et arachides). Beaucoup de nos plats sont disponibles en version sans glutten, pour enfant, végétarienne ou végétalienne, n'hésitez pas à nous demander.</p>

        <div class="c-carte__widget">
            <iframe id="c-carte__carte-iframe" src="http://menuwidget.mobimenu.fr?mpres=long&rid=343916&mbg=ffffff&mtbg=ffffff&mtfco=ae0817&mcatbg=ffffff&mcatfco=030303&mscatbg=ffffff&mscatfco=030303&mdibg=ffffff&mdifco=999999&mdidfco=999999&hc=030303&hac=black&mid=410184"></iframe>
        </div>
    </article>
</section>
