<h1 id="h1Normal">Nos produits</h1>
<h2 class="h2Normal">Notre module de réservation en ligne</h2>

<!-- reservation widget -->
<div id="widgetResa">
	<iframe src="http://reservations.1001menus.com/indexv2.php?rid=343916&pid=1001&padding=0&bgcolor=ae0817&ftcolor=fff&ticolor=ae0817&bghvcolor=000&fthvcolor=fff&txtcolor=535353&type=web&lang=fr" frameborder="0" scrolling="no" height="350" style="display: block; margin: 0 auto;"></iframe>
</div>
    
<h2 class="h2Normal">Notre menu</h2>
<p class="pNormal">TOUT NOS PRODUITS SONT <strong>FRAIS</strong> &amp; FAITS " <strong>MAISON</strong> "<span>Pour plus de détail sur nos produits, visiter la rubrique correspondante :</p>
<ul class="ulCentre">
  <li class="alinea">Nos entrées : <a href="entrees.html" target="_blank">ici</a></li>
    <li class="alinea">Nos plats : <a href="plats.html" target="_blank">ici</a></li>
    <li class="alinea">Nos desserts : <a href="desserts.html" target="_blank">ici</a></li>
</ul>
    
<!-- menu widget -->
<iframe src="http://menuwidget.mobimenu.fr?mpres=long&rid=343916&mbg=ffffff&mtbg=ffffff&mtfco=ae0817&mcatbg=ffffff&mcatfco=030303&mscatbg=ffffff&mscatfco=030303&mdibg=ffffff&mdifco=999999&mdidfco=999999&hc=030303&hac=black&mid=410184" style="border: 0;" width="100%" height="3500"></iframe>