<h1 id="h1Normal">Notre carte cadeau</h1>
<p class="pNormal">Vous n'avez pas encore entendu parler de notre carte cadeau?  C'est normal ! <br>En effet, suite à plusieurs demandes à ce sujet, nous avons  décidé de la créer.</p>

<figure class="figureNormal">
<img src="img/services/cartecadeau.png" width="650" alt=""/>
<figcaption class="capNormal">© 2013 Timsam, Tous droits réservés</figcaption>
</figure>
<p class="pNormal">La  carte cadeau Timsam est une offre valable pour deux personnes, uniquement pour  le dîner (du mardi au samedi aux horaires habituels) et uniquement sur  réservation pour un prix de 50€00 TTC. </p>
<p class="pBlack">Cette carte comprend :</p>
<ul class="ulCentre">
    <li>Une entrée au choix (carte ou entrée du jour)</li>
    <li>Un plat au choix (carte ou plat du jour)</li>
    <li>Un dessert au choix (carte ou dessert du jour)</li>
    <li>Une demie bouteille de vin (rouge-blanc-rosé)</li>
    <li>Un thé, un café, ou un apéritif</li>
</ul>

<p class="pNormal"><br>Vous pouvez voir notre menu <a href="?action=carte" target="_blank">ici</a>.<br> Cette carte cadeau est nouvelle vous l'avez compris, et les  fêtes approchant, nous voulons la rendre disponible dès maintenant. Dans ce  sens et si vous êtes intéressé ou si vous avez des questions supplémentaires,  nous vous proposons de réserver celle-ci via cette adresse Email : <a href="mailto:contact@le-timsam.com">contact@le-timsam.com</a></p>

<p class="pNormal">Nous vous répondrons dans les plus brefs délais ! Bonne fête de fin d'année à tous !</p>