<h1 id="h1Normal">Présentation de nos desserts</h1>
<p class="pInfo">Pour afficher les images en plein écran, cliquez dessus.</p>

<div id="imgProduits">
    <!--Chèchuoi-->
    <h2 class="h2Produits">Le chéchuoi</h2>
    <figure class="figProduits">
        <a href="img/produits/desserts/chechuoi.jpg" data-lightbox="image-6" data-title="Chè Chuoi">
            <img src="img/produits/desserts/chechuoi_small.jpg"  alt="Cliquez pour agrandir" width="300" id="imgplat"/>
        </a>
        <p class="pNormal">Tranches de bananes cuites dans le lait de coco avec des perles de tapioca.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Veronique Phouthavy<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--Chèchuoi-->
    <h2 class="h2Produits">Les gâteaux au manioc</h2>
    <figure class="figProduits">
        <a href="img/produits/desserts/manioc.jpg" data-lightbox="image-5" data-title="Gâteau au manioc">
            <img src="img/produits/desserts/manioc_small.jpg" alt="Cliquez pour agrandir" width="300" id="imgplat"/>
        </a>
        <p class="pNormal">Loukoum de manioc cuit à la vapeur enrobé à la noix de coco saupoudré de coco.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Veronique Phouthavy<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
</div>

<p class="pNormal">Nous vous rappelons que vous pouvez consulter notre carte complète <a href="?action=carte">ici</a>.</p>