<h1 id="h1Normal">Présentation de nos entrées</h1>
<p class="pInfo">Pour afficher les images en plein écran, cliquez dessus.</p>

<div id="imgProduits">
    <!--nems-->
    <h2 class="h2Produits">Les Nems</h2>
    <figure class="figProduits">
        <a href="img/produits/entrees/5n.jpg" data-lightbox="image-2" data-title="Nems">
            <img src="img/produits/entrees/5n_small.jpg" id="imgplat" width="300" height="225" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Les nems sont excellents dégustés dans une feuille de laitue avec de la menthe et de la coriandre, le tout assaisonné d'une sauce à base de Niokmam. Ils préparent la bouche au plat suivant avec gourmandise !</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
    
    <!--rouleaux de printemps-->
    <h2 class="h2Produits">Le Rouleau de printemps</h2>
    <figure class="figProduits">
        <a href="img/produits/entrees/5C-(1).jpg" data-lightbox="image-4" data-title="Mi Ka Ti">
            <img src="img/produits/entrees/5C-(1)_small.jpg"  width="300" height="195" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Le rouleau de printemps est une spécialité   culinaire du Vietnam. La garniture (composée notamment de vermicelles, crevettes, viande de porc, salade) est enroulée dans une galette de riz crue ; c'est une mise en appétit fraîche et délicate</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
</div>

<p class="pNormal">Nous vous rappelons que vous pouvez consulter notre carte complète <a href="?action=carte">ici</a>.</p>