<h1 id="h1Normal">Les événements culturels</h1>
<p class="pNormal">Le TIMSAM étant un restaurant salon de thé à vocation culturelle, il s'y passera régulièrement des activités, expositions, animations. Cette page qui est une extension de notre Galerie recensera photos, textes et documents de chaque événement qui y aura lieu. </p>

<h2 class="h2Normal">Les articles disponibles</h2>
<ul class="ulEvent">
	<li>
		<a href="?action=article1">L'exposition de Marie Hamel : Voyage au Viet Nâm 2012</a>
		<p class="pInfo">03/07/2014 au 03/09/2014</p>
	</li>
	<li>
		<a href="?action=article2">L'exposition de Jean-Louis Patrice : Bestiaire</a>
		<p class="pInfo">09/12/2014 au 09/02/2015</p>
	</li>
	<li>
		<a href="?action=article3">Dîner-concert : Charlie Larigot</a>
		<p class="pInfo">le 21/02/2015 de 19h30 à 23h00</p>
	</li>
	<li>
		<a href="?action=article4">L'exposition de Cecile Dalnoky : Câlins d'E.T</a>
		<p class="pInfo">05/03/2015 au 18/04/2015</p>
	</li>
	<li>
		<a href="?action=article5">L'exposition de Frédéric Filoche : Embarquement immédiat</a>
		<p class="pInfo">20/04/2015 au 30/06/2015</p>	
	</li>
	<li>
		<a href="?action=article6">L'exposition de Zonk : Fluidizm</a>
		<p class="pInfo">30/09/2015 au 30/11/2015</p>	
	</li>
	<li>
		<a href="?action=article7">Animation culturelle</a>
		<p class="pInfo">07/11/2015 de 14h à 17h</p>
	</li>
</ul>
