<section id="c-evenement__section">
	<h1>Nos animations et événements culturels</h1>

	<p class="c-evenement__text text-align__justify">Le Timsam étant un restaurant à vocation culturelle, il s'y passera régulièrement des activités, expositions, animations. Vous retrouverez dans cette page des articles présentant divers événement à venir ou qui on déjà eu lieu.</p>

	<span class="horizontal_separator_mobile"></span>

	<div id="c-evenement__wrapper">

		<article class="c-evenement__article">
			<h2>Les soirées à la table du chef : soirée spéciale découverte</h2>
			<p class="c-evenement__article-description text-align__justify">Ces soirée spéciale ont lieu tous les premiers mardi de chaque mois de 20h00 à 22h30 environ. Le concept est simple : vous réservez pour un menu complet à l'aveugle que le chef aura prévu, c'est l'occasion de gouter des plats hautement traditionnel et de laisser le chef exprimer sa créativité et son imagination. Les divers plats vous serons présentés directement par le chef qui s'intéressera également à votre avis et à votre expérience.</p>

			<h3 class="c-evenement__items-title">Les articles et éditions</h3>
			<ul class="c-evenement__items">
				<li class="c-evenement__item">
					Soirée à la table du chef (13ème édition)
					<p class="c-evenement__item-date">Le 9/05/2017 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					Soirée à la table du chef (12ème édition)
					<p class="c-evenement__item-date">Le 04/04/2017 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					Soirée à la table du chef (11ème édition)
					<p class="c-evenement__item-date">Le 07/03/2017 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					Soirée à la table du chef (10ème édition)
					<p class="c-evenement__item-date">Le 07/02/2017 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					Soirée à la table du chef (9ème édition)
					<p class="c-evenement__item-date">Le 03/01/2017 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					Soirée à la table du chef (8ème édition)
					<p class="c-evenement__item-date">Le 06/12/2016 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					Soirée à la table du chef (7ème édition)
					<p class="c-evenement__item-date">Le 01/11/2016 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article20" alt="" class="c-evenement__item-link">Retour sur la sixième soirée à la table du chef</a>
					<p class="c-evenement__item-date">Le 04/10/2016 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article18" alt="" class="c-evenement__item-link">Retour sur la cinquième soirée à la table du chef</a>
					<p class="c-evenement__item-date">Le 06/09/2016 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article17" alt="" class="c-evenement__item-link">Retour sur la quatrième soirée à la table du chef</a>
					<p class="c-evenement__item-date">Le 05/07/2016 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article16" alt="" class="c-evenement__item-link">Retour sur la troisième soirée à la table du chef</a>
					<p class="c-evenement__item-date">Le 07/06/2016 à 20h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article15" alt="" class="c-evenement__item-link">Retour sur la deuxième  soirée à la table du chef</a>
					<p class="c-evenement__item-date">Le 10/05/2016 à 19h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article14" alt="" class="c-evenement__item-link">Retour sur la deuxième  soirée à la table du chef</a>
					<p class="c-evenement__item-date">Déroulement des soirées</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article13" alt="" class="c-evenement__item-link">Retour sur la première  soirée à la table du chef</a>
					<p class="c-evenement__item-date">Le 05/04/2016 à 19h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article11" alt="" class="c-evenement__item-link">Soirée à la table du chef : soirée spéciale découverte</a>
					<p class="c-evenement__item-date">Présentation du concept</p>
				</li>
			</ul>	
		</article>

		<span class="horizontal_separator_mobile"></span>

		<article class="c-evenement__article">
			<h2>Les expositions temporaires</h2>
			<p class="c-evenement__article-description text-align__justify">Les expositions temporaires viennent prendre la place de notre décoration habituelle pour des périodes d'environ deux mois. Vous pourrez donc découvrir des artistes régionaux tout en profitant de votre repas. Sculpture, peinture, dessin, photographie, nous exposons tout types d'oeuvres et si vous êtes artiste, n'héstiez pas à nous contacter.</p>

			<h3 class="c-evenement__items-title">Les articles et éditions</h3>
			<ul class="c-evenement__items">
				<li class="c-evenement__item">
					<a href="?action=article22" alt="Article sur l'exposition de Sista Jahia" class="c-evenement__item-link">L'exposition de Sista Jahia</a>
					<p class="c-evenement__item-date">03/04/2017 au 03/06/2017</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article21" alt="Article sur l'exposition de Céline Azorin" class="c-evenement__item-link">L'exposition de Céline Azorin</a>
					<p class="c-evenement__item-date">02/01/2017 au 27/02/2017</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article6" alt="Article sur l'exposition de Zonk : Fluidizm" class="c-evenement__item-link">L'exposition de Zonk : Fluidizm</a>
					<p class="c-evenement__item-date">30/09/2015 au 30/11/2015</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article5" alt="Article sur l'exposition de Frédéric Filoche : Embarquement immédiat" class="c-evenement__item-link">L'exposition de Frédéric Filoche : Embarquement immédiat</a>
					<p class="c-evenement__item-date">20/04/2015 au 30/06/2015</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article4" alt="Article sur l'exposition de Cecile Dalnoky : Câlins d'E.T" class="c-evenement__item-link">L'exposition de Cecile Dalnoky : Câlins d'E.T</a>
					<p class="c-evenement__item-date">05/03/2015 au 18/04/2015</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article2" alt="Article sur l'exposition de Jean-Louis Patrice : Bestiaire" class="c-evenement__item-link">L'exposition de Jean-Louis Patrice : Bestiaire</a>
					<p class="c-evenement__item-date">09/12/2014 au 09/02/2015</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article1" alt="Article sur l'exposition de Marie Hamel : Voyage au Viet Nâm 2012" class="c-evenement__item-link">L'exposition de Marie Hamel : Voyage au Viet Nâm 2012</a>
					<p class="c-evenement__item-date">03/07/2014 au 03/09/2014</p>
				</li>
			</ul>
		</article>

		<span class="horizontal_separator_mobile"></span>

		<article class="c-evenement__article">
			<h2>Les après-midis culturels et thématiques</h2>
			<p class="c-evenement__article-description text-align__justify">Les après-midi culturels ont lieu certains samedis après-midi et sont organisés en association avec l'association Normandie-Taïwan. C'est l'occasion de découvrir des jeux traditionnels comme le jeu de Go ou le Mah-Jong, mais aussi des démonstrations d'art du thé ou de calligraphie. Enfin, c'est un moment de partage et de discution ouvert à tous en libre entrée.</p>

			<h3 class="c-evenement__items-title">Les articles et éditions</h3>
			<ul class="c-evenement__items">
				<li class="c-evenement__item">
					<a href="?action=article19" alt="Article animation culturelle 4" class="c-evenement__item-link">Quatrième après-midi culturelle</a>
					<p class="c-evenement__item-date">19/11/2016 de 14h00 à 17h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article19" alt="Article animation culturelle 3" class="c-evenement__item-link">Troisième après-midi culturelle</a>
					<p class="c-evenement__item-date">15/10/2016 de 14h00 à 17h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article10" alt="Article animation culturelle 2" class="c-evenement__item-link">Deuxième après-midi culturelle</a>
					<p class="c-evenement__item-date">12/03/2016 de 14h à 17h</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article7" alt="Article Animation culturelle 1" class="c-evenement__item-link">Première après-midi culturelle</a>
					<p class="c-evenement__item-date">07/11/2015 de 14h à 17h</p>
				</li>
			</ul>	
		</article>

		<span class="horizontal_separator_mobile"></span>

		<article class="c-evenement__article">
			<h2>Les événements musicaux et littéraires</h2>
			<p class="c-evenement__article-description text-align__justify">Encore assez rare car difficile à organiser nous vous proposons de façon occasionelle des conférences, dédicaces littéraires ou encore des dîner-concerts. Si vous êtes intéressés pour organiser un événement de ce type dans notre établissement, n'hésitez pas à nous contacter !</p>

			<h3 class="c-evenement__items-title">Les articles et éditions</h3>
			<ul class="c-evenement__items">
				<li class="c-evenement__item">
					<a href="?action=article12" alt="Article conférence : Secret d'un chef dans la nature 2" class="c-evenement__item-link">Conférence : Secret d'un chef dans la nature (2ème édition)</a>
					<p class="c-evenement__item-date">09/04/2016 à 15h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article9" alt="Article conférence : Secret d'un chef dans la nature" class="c-evenement__item-link">Conférence : Secret d'un chef dans la nature</a>
					<p class="c-evenement__item-date">20/02/2016 à 15h00</p>
				</li>
				<li class="c-evenement__item">
					<a href="?action=article3" alt="Article dîner-concert : Charlie Larigot" class="c-evenement__item-link">Dîner-concert : Charlie Larigot</a>
					<p class="c-evenement__item-date">21/02/2015 de 19h30 à 23h00</p>
				</li>
			</ul>	
		</article>

	</div>
