<h2 class="h2Normal">Les événements culturels</h2>
<p class="pNormal">Le TIMSAM étant un restaurant salon de thé à vocation culturelle, il s'y passera régulièrement des activités, expositions, animations. Cette page qui est une extension de notre Galerie recensera photos, textes et documents de chaque événement qui y aura lieu. </p>

<h3 class="h3Normal">Les articles disponibles</h3>
<ul class="ulEvent">
	<li>
		<a href="?action=article1">L'exposition de Marie Hamel : Voyage au Viet Nâm 2012</a>
		<p class="pInfo">03/07/2014 au 03/09/2014</p>
	</li>
	<li>
		<a href="?action=article2">L'exposition de Jean-Louis Patrice : Bestiaire</a>
		<p class="pInfo">09/12/2014 au 09/02/2015</p>
	</li>
	<li>
		<a href="?action=article3">Dîner-concert : Charlie Larigot</a>
		<p class="pInfo">le 21/02/2015 de 19h30 à 23h00</p>
	</li>
	<li>
		<a href="?action=article4">L'exposition de Cecile Dalnoky : Câlins d'E.T</a>
		<p class="pInfo">05/03/2015 au 18/04/2015</p>
	</li>
	<li>
		<a href="?action=article5">L'exposition de Frédéric Filoche : Embarquement immédiat</a>
		<p class="pInfo">20/04/2015 au 30/06/2015</p>	
	</li>
	<li>
		<a href="?action=article6">L'exposition de Zonk : Fluidizm</a>
		<p class="pInfo">30/09/2015 au 30/11/2015</p>	
	</li>
	<li>
		<a href="?action=article7">Animation culturelle</a>
		<p class="pInfo">07/11/2015 de 14h à 17h</p>
	</li>
	<!-- Article 8 : Isabelle Huet -->
	<li>
		<a href="?action=article9">Conférence : Secret d'un chef dans la nature</a>
		<p class="pInfo">Le 20/02/2016 à 15h00</p>
	</li>
</ul>

<h2 class="h2Normal">La Galerie</h2>
<p class="pNormal">Bienvenu sur la galerie du Timsam qui a pour objectif de grandir avec le restaurant et ses animations. Pour voir les images dans leurs tailles réelles, il suffit de cliquer dessus! En cliquant sur une image de n'importe quel album, vous pouvez voir les images suivantes en mode diaporama à l'aide des flèches à droite ou gauche! Bon visionage ! <br><br>Si vous avez des photos du restaurant que vous voulez partager, n'hésitez pas à nous les envoyer par mail (<a href="mailto:web@le-timsam.com">web@le-timsam.com</a>), nous serons heureux de les rajouter à notre galerie!</p>

<div class="imgConteneur">
	<h3 class="h3Galerie">Le restaurant</h3>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/1.jpg" data-lightbox="album-1" data-title="L'enseigne">
        	<img src="img/galerie/album_resto/1_mini.png" alt="cliquez pour agrandir"/>
        </a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/2.jpg" data-lightbox="album-1" data-title="Le coin salon">
			<img src="img/galerie/album_resto/2_mini.png" alt="cliquez pour agrandir"/>
        </a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/3.jpg" data-lightbox="album-1" data-title="La salle">
			<img src="img/galerie/album_resto/3_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/4.jpg" data-lightbox="album-1" data-title="La salle">
			<img src="img/galerie/album_resto/4_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/5.jpg" data-lightbox="album-1" data-title="La salle">
			<img src="img/galerie/album_resto/5_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/6.jpg" data-lightbox="album-1" data-title="L'entrée">
			<img src="img/galerie/album_resto/6_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>

	<h3 class="h3Galerie">Quelques plats du jour...</h3>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/1.jpg" data-lightbox="album-3" data-title="Crèpes Vietnamiennes">
			<img src="img/galerie/album_platdujour/1_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/2.jpg" data-lightbox="album-3" data-title="Perle de jade">
			<img src="img/galerie/album_platdujour/2_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/3.jpg" data-lightbox="album-3" data-title="Porc au caramel">
			<img src="img/galerie/album_platdujour/3_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/4.jpg" data-lightbox="album-3" data-title="Poulet au curry">
			<img src="img/galerie/album_platdujour/4_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
</div>


<h2 class="h2Normal">Calendrier du Tim-Sam !</h2>

<iframe id="widgetCalendar" src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=500&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23FFFFFF&amp;src=event.timsam%40gmail.com&amp;color=%232952A3&amp;src=fr.french%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;ctz=Europe%2FParis" style=" border:solid 1px #777 " width="700" height="500"></iframe>

<iframe id="widgetCalendarMobile" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23FFFFFF&amp;src=event.timsam%40gmail.com&amp;color=%2329527A&amp;ctz=Europe%2FParis" style="border-width:0" width="320" height="600"></iframe>

<p class="pNormal">Cet emploi du temps en ligne est mis à jour aussi souvent que nécessaire. Vous pouvez y voir les horraires d'ouvertures, les fermetures exceptionnelles, annuelles et les événements.</p>