<h1 id="h1Normal">La Galerie</h1>
<p class="pNormal">Bienvenu sur la galerie du Timsam qui a pour objectif de grandir avec le restaurant et ses animations. Pour voir les images dans leurs tailles réelles, il suffit de cliquer dessus! En cliquant sur une image de n'importe quel album, vous pouvez voir les images suivantes en mode diaporama à l'aide des flèches à droite ou gauche! Bon visionage ! <br><br>Si vous avez des photos du restaurant que vous voulez partager, n'hésitez pas à nous les envoyer par mail (<a href="mailto:web@le-timsam.com">web@le-timsam.com</a>), nous serons heureux de les rajouter à notre galerie!</p>

<div id="imgConteneur">
	<h2 class="h2Galerie">Le restaurant</h2>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/1.jpg" data-lightbox="album-1" data-title="L'enseigne">
        	<img src="img/galerie/album_resto/1_mini.png" alt="cliquez pour agrandir"/>
        </a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/2.jpg" data-lightbox="album-1" data-title="Le coin salon">
			<img src="img/galerie/album_resto/2_mini.png" alt="cliquez pour agrandir"/>
        </a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/3.jpg" data-lightbox="album-1" data-title="La salle">
			<img src="img/galerie/album_resto/3_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/4.jpg" data-lightbox="album-1" data-title="La salle">
			<img src="img/galerie/album_resto/4_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/5.jpg" data-lightbox="album-1" data-title="La salle">
			<img src="img/galerie/album_resto/5_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_resto/6.jpg" data-lightbox="album-1" data-title="L'entrée">
			<img src="img/galerie/album_resto/6_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>

	<h2 class="h2Galerie">Quelques plats du jour...</h2>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/1.jpg" data-lightbox="album-3" data-title="Crèpes Vietnamiennes">
			<img src="img/galerie/album_platdujour/1_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/2.jpg" data-lightbox="album-3" data-title="Perle de jade">
			<img src="img/galerie/album_platdujour/2_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/3.jpg" data-lightbox="album-3" data-title="Porc au caramel">
			<img src="img/galerie/album_platdujour/3_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
	<figure class="figRestaurant">
		<a href="img/galerie/album_platdujour/4.jpg" data-lightbox="album-3" data-title="Poulet au curry">
			<img src="img/galerie/album_platdujour/4_mini.png" alt="cliquez pour agrandir"/>
		</a>
		<figcaption><p class="figCreditGalerie">Auteur: Charles-Erick Labadille<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
	</figure>
</div>
