<h2 class="h2Normal">Accueil du Timsam, restaurant de spécialités du Sud-Est asiatique à Caen</h2>

<p class="pNormal">Restaurant spécialisé dans la cuisine du Sud-Est de l'Asie, vous croiserez donc au Timsam des spécialités culinaires du Laos, du Vietnam ou encore de Thaïlande, élaborées à partir des recettes traditionnelles de la maman du chef, Som.</p>

<div id="boutonReserverMobile">
	<a href="?action=carte" title="reserver maintenant">Réservation<br/>en ligne & carte</a>
</div>

<p class="pNormalJustifier"> Né au Laos, de père chinois et de mère vietnamienne, et installé en France depuis près de 40 ans, la diversité des origines de Som se retrouve en effet dans ses plats où il aime à rajouter une touche française à ses recettes exotiques (en revisitant par exemple le boeuf bourguignon en boeuf braisé à l'anis étoilé) ; mais la découverte culinaire est aussi au programme pour les palais caennais, avec des plats traditionnel comme le Pho, le Mikati, le Mokpa... le tout étant fait maison, avec des produits frais et locaux.</p>

<figure class="figureNormal">
	<img src="img/accueil/IMG_20140212_104208.jpg" alt="">
	<figcaption><p class="figProduitsCredit">Auteur: Som Phouthavy<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
</figure>

<p class="pNormalJustifier">C'est toujours dans cette dynamique de partage, d'échange entre les cultures française et asiatique que Som entend également faire du Timsam un lieu de culture : depuis son ouverture, l'établissement s'est en effet attaché à proposer chaque mois des expositions de tableaux d'artistes de la région ; plusieurs après-midi ont également été consacrées à la découverte de divers aspects de la culture asiatique (le suivi de tels événements est visible sur la page <a href="https://www.facebook.com/restaurantletimsam" target="_blank">facebook</a> du restaurant, sur notre site internet dans le coin actualité à gauche et sur notre <a href="?action=event">calendrier en ligne</a>). Enfin, une bibliothèque mélant romans de Duras, livres de voyage et souvenirs est à la disposition des clients au sein même du restaurant.</p>

<p class="pBlack"> Ce restaurant où tout est fait maison, est ouvert le midi du mardi au vendredi et le soir du mardi au samedi. N'hésitez pas à consulter notre <a href="?action=event">calendrier en ligne</a> qui est actualisé régulièrement.</p>

<p class="pBlack">Réservation au 09 83 01 21 47 et via notre <a href="?action=produits">module de réservation en ligne</a>.</p>

<p class="pNormal">En espérant vous voir bientôt, <br>L'équipe du Timsam.</p>