<section id="c-main__section">
    <h1>Le Timsam, restaurant de spécialités du Sud-Est asiatique à Caen</h1>

    <p class="c-main__text text-align__justify">Restaurant spécialisé dans la cuisine du Sud-Est de l'Asie, vous croiserez donc au Timsam des spécialités culinaires du Laos, du Vietnam ou encore de Thaïlande, élaborées à partir des recettes traditionnelles de la maman du chef, Som.</p>

    <figure class="c-main__figure">
        <img class="c-main__img" src="img/accueil/IMG_20140212_104208.jpg" alt="">
        <figcaption class="c-main__caption">La salle du restaurant et ses lampions</figcaption>
    </figure>

    <p class="c-main__text text-align__justify">Tous nos produits sont frais et fais maison, nous pouvons donc adapter vos assiettes en fonction de vos goûts et restrictions alimentaires (dans la mesure du possible). N'hésitez donc pas à poser la question à notre serveur si vous souhaitez du piment frais, si vous n'aimez pas quelques choses, êtes allergique, souhaitez une alternative végétarienne/vegan d'un plat ou si vous avez la moindre question !</p>

    <span class="horizontal_separator"></span>

    <div class="c-main__articles">

        <article class="c-main__article">
            <h2>Les horaires</h2>
            <table class="c-main__service-schedules">
                <thead class="c-main__service-head">
                    <tr>
                        <th class="c-main__service-head-item" data-field="day">Jour</th>
                        <th class="c-main__service-head-item" data-field="lunch">Service du midi</th>
                        <th class="c-main__service-head-item" deta-field="dinner">Service du soir</th>
                    </tr>
                </thead>
                <tbody class="c-main__service-schedules-content">
                    <tr class="c-main__service-schedules-close">
                        <td class="c-main__service-schedules-item text-align__left">Lundi</td>
                        <td class="c-main__service-schedules-item text-align__center"> - </td>
                        <td class="c-main__service-schedules-item text-align__center"> - </td>
                    </tr>
                    <tr>
                        <td class="c-main__service-schedules-item text-align__left">Mardi</td>
                        <td class="c-main__service-schedules-item text-align__center">12h00 - 14h00</td>
                        <td class="c-main__service-schedules-item text-align__center">19h00 - 22h00</td>
                    </tr>
                    <tr>
                        <td class="c-main__service-schedules-item text-align__left">Mercredi</td>
                        <td class="c-main__service-schedules-item text-align__center">12h00 - 14h00</td>
                        <td class="c-main__service-schedules-item text-align__center">19h00 - 22h00</td>
                    </tr>
                    <tr>
                        <td class="c-main__service-schedules-item text-align__left">Jeudi</td>
                        <td class="c-main__service-schedules-item text-align__center">12h00 - 14h00</td>
                        <td class="c-main__service-schedules-item text-align__center">19h00 - 22h00</td>
                    </tr>
                    <tr>
                        <td class="c-main__service-schedules-item text-align__left">Vendredi</td>
                        <td class="c-main__service-schedules-item text-align__center">12h00 - 14h00</td>
                        <td class="c-main__service-schedules-item text-align__center">19h00 - 22h00</td>
                    </tr>
                    <tr>
                        <td class="c-main__service-schedules-item text-align__left">Samedi</td>
                        <td class="c-main__service-schedules-item text-align__center"> - </td>
                        <td class="c-main__service-schedules-item text-align__center">19h00 - 22h00</td>
                    </tr>
                    <tr class="c-main__service-schedules-close">
                        <td class="c-main__service-schedules-item text-align__left">Dimanche</td>
                        <td class="c-main__service-schedules-item text-align__center"> - </td>
                        <td class="c-main__service-schedules-item text-align__center"> - </td>
                    </tr>
                </tbody>
            </table>        
        </article>

        <article class="c-main__article">
            <h2>Réservations</h2>
            <div class="c-main__booking">
                <h3 class="c-main__booking-head">Réservation par téléphone</h3>
                <a class="c-main__booking-phone-link" href="tel:0983012147">
                    <i class="c-main__icon icon-phone"></i><span class="c-main__booking-widget">09 83 01 21 47</span>
                </a>
                <p class="c-main__booking-phone-detail">Vous pouvez nous appeler une à deux heures avant chaque service ou durant nos horaires d'ouvertures.</p>

                <h3 class="c-main__booking-head">Réservation par internet</h3>
                <a class="c-main__booking-web-link" href="?action=produits">
                    <i class="c-main__icon icon-web"></i><span class="c-main__booking-widget">module de réservation en ligne</span>
                </a>
                <p class="c-main__booking-phone-detail">Nous vous conseillons de toujours réserver et ce particulièrement le vendredi, samedi ou lors d'événements particuliers.</p>
            </div>
        </article>

        <article class="c-main__article">
            <h2>En ce moment au Timsam</h2>
            <div class="c-main__event">
                <h3 class="c-main__event-head">Exposition</h3>
                <p class="c-main__event-content"><a href="/articles/exposition-sista-jahia">Exposition de Sista Jahia</a> (auteure-Illustratrice)</p>

                <h3 class="c-main__event-head">Événement ponctuel</h3>
                <p class="c-main__event-content">Prochaine <a href="/articles/soiree-speciale-a-la-table-du-chef">soirée à la table du chef</a> le 09/05/2017, pensez à réserver pour la douzième édition!</p>
            </div>
        </article>

        <article class="c-main__article">
            <h2>Nous trouver</h2>
            <div class="c-main__localisation">
                <h3 class="c-main__localisation-head">Plan</h3>
                <iframe class="c-main__localisation-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2607.688830271008!2d-0.35995099999999997!3d49.187490999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5159d0d4306cdd4!2sTimsam!5e0!3m2!1sfr!2sfr!4v1407952285853"></iframe>
                <h3 class="c-main__localisation-head">Transports en commun</h3>
                <p class="c-main__localisation-detail">
                    Tram A et B arrêt Saint-Pierre, Quatran ou Université</br>
                    Bus 2, 4, 5, 18, 19, 25, 31, 32, 61 arrêt Université, Reine Mathilde, Pigacière, Vaugueux, Saint-Pierre, Quatran.
                </p>
            </div>
        </article>
    </div>

    <span class="horizontal_separator"></span>

    <h2>Le chef</h2>
    <p class="c-main__text text-align__justify"> Né au Laos, de père chinois et de mère vietnamienne, et installé en France depuis près de 40 ans, la diversité des origines de Som se retrouve en effet dans ses plats où il aime à rajouter une touche française à ses recettes exotiques (en revisitant par exemple le boeuf bourguignon en boeuf braisé à l'anis étoilé) ; mais la découverte culinaire est aussi au programme pour les palais caennais, avec des plats traditionnel comme le Pho, le Mikati, le Mokpa... le tout étant fait maison, avec des produits frais et locaux.</p>
    <figure class="c-main__figure">
        <img class="c-main__img" src="img/accueil/chef_pictures.jpg" alt="">
        <figcaption class="c-main__caption">Le chef passant voir ses clients en salle.</figcaption>
    </figure>
    

    <h2>Notre philosophie</h2>
    <p class="c-main__text text-align__justify">C'est toujours dans cette dynamique de partage, d'échange entre les cultures française et asiatique que Som entend également faire du Timsam un lieu de culture : depuis son ouverture, l'établissement s'est en effet attaché à proposer chaque mois des expositions de tableaux d'artistes de la région ; plusieurs après-midi ont également été consacrées à la découverte de divers aspects de la culture asiatique ; de concerts, de dédicace ou encore notre soirée à la table du chef qui a lieu tous les mois. Enfin, une bibliothèque mélant romans de Duras, livres de voyage et souvenirs est à la disposition des clients au sein même du restaurant.</p>

    <p class="c-main__text text-color__bleen text-style__em text-align__right">En espérant vous voir bientôt, <br>L'équipe du Timsam.</p>
</section>