<h1 id="h1Normal">Accueil du Timsam, restaurant de spécialités du Sud-Est asiatique à Caen</h1>

<p class="pNormal">Timsam : cela signifie littéralement "coup de coeur" et désigne en cantonais des plats à la vapeur que l'on partage en famille le dimanche midi. Coup de coeur... Point sur le coeur... coeur organe central où tout circule ! voilà ce que Som veut faire de ce restaurant, un lieu de passage et d'échanges ou l'on revient avec plaisir !</p>

<figure class="figureNormal">
	<img src="img/accueil/IMG_20140212_104208.jpg" alt="">
	<figcaption>
	</figcaption>
</figure>

<p class="pNormal">C'est dans un décor surprenant, dans une ambiance joyeuse et poétique, à la lueur de lampions de toutes les couleurs, accrochés au plafond, que Som vous accueille. Il se propose de vous faire goûter ou découvrir sa cuisine du Sud Est asiatique.</p>

<p class="pBlack"> Ce restaurant où tout est fait maison, est ouvert le midi du mardi au vendredi et le soir du mardi au samedi. N'hésitez pas à consulter notre calendrier en ligne qui est actualisé régulièrement : <a href="../pages/3_animations/agenda.html">ici</a>.</p>

<p class="pBlack">Réservation au 09 83 01 21 47 et via notre module de réservation en ligne : <a href="pages/2_produits/produits.html">ici</a>.</p>

<p class="pNormal">Vous y dégusterez des spécialités du Sud Est asiatique, sa terre natale, mais aussi du Vietnam et de la Thaïlande : des plats savoureux et parfumés au curcuma, gingembre  ou basilic thaï, curry ou encore bergamote. Ces plats sont inspirés de la cuisine familiale et vous y retrouverez le goût authentique de cette cuisine avec ses milles saveurs, saveurs renforcées par le fait que tout est préparé avec des produits frais.</p>

<p class="pNormal">Vous y dégusterez également des nems, rouleaux de printemps, salade vietnamienne et des desserts savoureux faits avec des recettes traditionnelles...</p>