<h1 id="h1Normal">Présentation de nos plats</h1>
<p class="pInfo">Pour afficher les images en plein écran, cliquez dessus.</p>

<div id="imgProduits">
    <!--boeuf luc lac-->
    <h2 class="h2Produits">Le Boeuf façon "Luclac"</h2>
    <figure class="figProduits">
        <a href="img/produits/plats/7C-(2).jpg" data-lightbox="image-3" data-title="Boeuf Luc Lac">
            <img src="img/produits/plats/7C-(2)_small.jpg"  width="300" height="193" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Sauté vietnamien de boeuf mariné, légumes et riz. Plat classique vietnamien où le tendre de la viande se révèle sous une marinade d'épices</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
    
    <!--mikati-->
    <h2 class="h2Produits">Le Mi Ka Ti</h2>
    <figure class="figProduits">
        <a href="img/produits/plats/3N.jpg" data-lightbox="image-4" data-title="Mi Ka Ti">
            <img src="img/produits/plats/3N_small.jpg"  width="300" height="195" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Soupe laotienne au porc curry et lait de coco avec nouilles de riz. C'est une explosion de saveurs, attention c'est addictif pour certains !</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
    
    <!--pho-->
    <h2 class="h2Produits">Le Phô</h2>
    <figure class="figProduits">
         <a href="img/produits/plats/2N.jpg" data-lightbox="image-5" data-title="Phô">
            <img src="img/produits/plats/2N_small.jpg"  alt="Cliquez pour agrandir" width="300" />
        </a>
        <p class="pNormal">Soupe vietnamienne au boeuf avec nouilles   de riz, servie avec une assiete de légumes et les sauces   pimentées adéquates, n'hésitez pas à en redemander.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--Bo bun-->
    <h2 class="h2Produits">Le Bobun</h2>
    <figure class="figProduits">
         <a href="img/produits/plats/6n-1.jpg" data-lightbox="image-6" data-title="Bo Bun">
            <img src="img/produits/plats/6n-1_small.jpg" alt="Cliquez pour agrandir" width="300"  />
        </a>
        <p class="pNormal">Salade de boeuf à la vietnamienne, nems et vermicelle; C'est un plat complet, diététique et léger qui   conjugue les textures, les saveurs, les températures, à la fois frais et parfumé.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
    
    <!--Porc caramel-->
    <h2 class="h2Produits">Le porc au caramel</h2>
    <figure class="figProduits">
         <a href="img/produits/plats/4c-1.jpg" data-lightbox="image-7" data-title="Porc au caramel">
            <img src="img/produits/plats/4c-1_small.jpg" alt="Cliquez pour agrandir" width="300"  />
        </a>
        <p class="pNormal">Recette vietnamienne avec crudités surprenant les palais habituées à la recette chinoise et les ravissant ensuite.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
    
    <!--Plat végétarien-->
    <h2 class="h2Produits">Notre plat végétarien</h2>
    <figure class="figProduits">
         <a href="img/produits/plats/platveget.jpg" data-lightbox="image-8" data-title="Plat végétarien">
            <img src="img/produits/plats/platveget_small.jpg" alt="Cliquez pour agrandir" width="300" />
        </a>
        <p class="pNormal">Tofu sauté avec des légumes, riz ou ou vermicelles (en fonction des légumes du jour).</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--Mokpa-->
    <h2 class="h2Produits">Le poisson Mokpa</h2>
    <figure class="figProduits">
         <a href="img/produits/plats/mokpa.jpg" data-lightbox="image-9" data-title="Poisson Mokpa">
            <img src="img/produits/plats/mokpa_small.jpg" alt="Cliquez pour agrandir" width="300"/>
        </a>
        <p class="pNormal">Recette laotienne à base de poisson au lait de coco cuit à la vapeur, recette où toutes les saveurs se révélent au palais avec douceur.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
</div>

<p class="pNormal">Nous vous rappelons que vous pouvez consulter notre carte complète <a href="?action=carte">ici</a>.</p>