<section id="c-avis__section">
    <h1>Les avis et note sur le Timsam</h1>

    <div id="c-avis__wrapper">

        <article id="c-avis__exteriors">
            <h2>Nos distinctions et avis extérieurs</h2>

            <div id="c-avis__exteriors-list">
                <div id="c-avis__exterior-petit-fute" class="c-avis__exterior-item">
                    <div id="fileContent"><a href="https://www.petitfute.com" target="_blank" title="Petit Futé"><img src="https://www.petitfute.com/img/widget/logo.jpg"  width="100" alt="Petit Futé" /></a></div>
                    <script type="text/javascript" src="https://pro.petitfute.com/compte/widget/petitfute/67356/"></script>
                </div>
            
                <div id="c-avis__exterior-tripadvisor-distinction" class="c-avis__exterior-item">
                    <div id="TA_certificateOfExcellence582" class="TA_certificateOfExcellence">
                        <ul id="HZYhHjk" class="TA_links Cum8oCcxh8"><li id="XCBYczyI6" class="jvMI08pp"><a target="_blank" href="https://www.tripadvisor.fr/Restaurant_Review-g187182-d6675003-Reviews-Tim_Sam-Caen_Calvados_Basse_Normandie_Normandy.html"><img src="https://www.tripadvisor.fr/img/cdsi/img2/awards/CoE2016_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a></li></ul>
                    </div>
                </div>
                <script src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=582&amp;locationId=6675003&amp;lang=fr&amp;year=2016&amp;display_version=2"></script>

                <div id="c-avis__exterior-tripadvisor-reviews" class="c-avis__exterior-item">
                    <div id="TA_cdsratingsonlynarrow778" class="TA_cdsratingsonlynarrow">
                        <ul id="MjIRTcaP" class="TA_links w6Fhwdowu">
                            <li id="Ga4X9II" class="FtnAO8Km">
                                <a target="_blank" href="https://www.tripadvisor.fr/"><img src="https://www.tripadvisor.fr/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"/></a>
                            </li>
                        </ul>
                    </div>
                    <script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=778&amp;locationId=6675003&amp;lang=fr&amp;border=true&amp;display_version=2"></script>
                </div>

                <div id="c-avis__exterior-facebook" class="c-avis__exterior-item">
                    <a href="https://www.facebook.com/restaurantletimsam" title="Timsam" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/279176515569382.428.698891451.png" style="border: 0px;" alt="" ></a><br>
                </div>
            </div>
        </article>

        <span class="horizontal_separator_mobile"></span>

        <article id="c-avis__press">
            <h2>Ils parlent de nous</h2>

            <div class="c-avis__press-list">
                <a class="c-avis__press-link" href="http://www.cotecaen.fr/27320/tim-sam-le-coup-de-coeur-du-vaugueux/" alt="" target="_blank">
                    <img src="img/logo/cote-caen_logo.jpg" alt="" class="c-avis__press-logo">
                </a>
                <a class="c-avis__press-link" href="http://www.tendanceouest.com/actualite-70494-notre-table-caennaise-le-timsam-rue-du-vaugueux.html" alt="" target="_blank">
                    <img src="img/logo/tendance-ouest_logo.png" alt="" class="c-avis__press-logo">
                </a>
                <a class="c-avis__press-link" href="http://www.ouest-france.fr/normandie/caen-14000/saveurs-et-cultures-asiatiques-au-timsam-1964534" alt="" target="_blank">
                    <img src="img/logo/ouest-france_logo.jpg" alt="" class="c-avis__press-logo">
                </a>
                <a class="c-avis__press-link" href="http://caen.onvasortir.com/un-bon-petit-resto-asiatique-735991.html" alt="" target="_blank">
                    <img src="img/logo/on-va-sortir_logo.jpg" alt="" class="c-avis__press-logo">
                </a>
                <a class="c-avis__press-link" href="https://www.petitfute.com/v4608-caen-14000/c1165-restaurants/c1031-cuisines-du-monde/c1035-cuisine-d-asie/c57-restaurant-laotien/1458378-tim-sam.html" alt="" target="_blank">
                    <img src="img/logo/logo-petit-fute.png" alt="" class="c-avis__press-logo">
                </a>
            </div>
        </article>
        
        <span class="horizontal_separator_mobile"></span>

    </div>

    <article id="c-avis__reviews">
        <h2>Les avis</h2>

        <iframe src="https://widget-reviews.zenchef.com/343916?lang=fr" id="c-avis__reviews-inside" frameborder="0" vspace="0" hspace="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" scrolling="no"></iframe>
        
    </article>

</section>
