<h2 class="h2Normal">Présentation de nos entrées</h2>
<p class="pInfo">Pour afficher les images en plein écran, cliquez dessus.</p>

<div class="imgProduits">
    <!--nems-->
    <h3 class="h3Produits">Les Nems</h3>
    <figure class="figProduits">
        <a href="img/produits/entrees/5n.jpg" data-lightbox="image-1" data-title="Nems">
            <img src="img/produits/entrees/5n_small.jpg" id="imgplat" width="300" height="225" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Spécialité vietnamienne, <strong>sans glutten</strong>.Les nems sont excellents dégustés dans une feuille de laitue avec de la menthe et de la coriandre, le tout assaisonné d'une sauce à base de Niokmam. Ils préparent la bouche au plat suivant avec gourmandise !</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
    
    <!--rouleaux de printemps-->
    <h3 class="h3Produits">Le Rouleau de printemps</h3>
    <figure class="figProduits">
        <a href="img/produits/entrees/5C-(1).jpg" data-lightbox="image-2" data-title="Mi Ka Ti">
            <img src="img/produits/entrees/5C-(1)_small.jpg"  width="300" height="195" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Spécialité vietnamienne, <strong>sans glutten</strong>, <strong>végétarien sur demande</strong>.Le rouleau de printemps est une spécialité culinaire du Vietnam. La garniture (composée notamment de vermicelles, crevettes, viande de porc, salade) est enroulée dans une galette de riz crue ; c'est une mise en appétit fraîche et délicate</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
</div>

<h2 class="h2Normal">Présentation de nos plats</h2>
<p class="pInfo">Pour afficher les images en plein écran, cliquez dessus.</p>

<div class="imgProduits">

    <!--pho-->
    <h3 class="h3Produits">Le Phô</h3>
    <figure class="figProduits">
        <a href="img/produits/plats/2N.jpg" data-lightbox="image-3" data-title="Phô / soupe Tonkinoise">
        <img src="img/produits/plats/2N_small.jpg"  alt="Cliquez pour agrandir" width="300" />
        </a>
        <p class="pNormal">Spécialité vietnamiennes, <strong>sans glutten</strong>. Soupe au bœuf parfumée avec des étoiles d’anis, de la cannelle et du gingembres grillés, servi avec des nouilles de riz et une sauce pimenté adequate (à part).</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--mikati-->
    <h3 class="h3Produits">Le Mi Ka Ti</h3>
    <figure class="figProduits">
        <a href="img/produits/plats/3N.jpg" data-lightbox="image-4" data-title="Mi Ka Ti">
            <img src="img/produits/plats/3N_small.jpg"  width="300" height="195" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Spécialité laotienne, <strong>sans glutten</strong>. Soupe au porc curry et lait de coco avec nouilles de riz, accompagné de nombreux aromates/épices et de légume.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--Bo bun-->
    <h3 class="h3Produits">Le Bobun</h3>
    <figure class="figProduits">
        <a href="img/produits/plats/6n-1.jpg" data-lightbox="image-5" data-title="Bo Bun">
        <img src="img/produits/plats/6n-1_small.jpg" alt="Cliquez pour agrandir" width="300"  />
        </a>
        <p class="pNormal">Spécialité laotienne, <strong>sans glutten</strong>. Plat à mi-chemin entre salade et plat chaud, composé d’émincés de bœuf et de nems, servi avec des vermicelles de riz. C'est un plat complet, diététique et léger qui conjugue les textures, les saveurs, les températures, à la fois frais et parfumé.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--Plat végétarien-->
    <h3 class="h3Produits">Notre plat végétarien</h3>
    <figure class="figProduits">
        <a href="img/produits/plats/platveget.jpg" data-lightbox="image-6" data-title="Plat végétarien">
        <img src="img/produits/plats/platveget_small.jpg" alt="Cliquez pour agrandir" width="300" />
        </a>
        <p class="pNormal">Spécialité d'influences diverses, <strong>végétarien végétalien</strong>, <strong>sans glutten sur demande</strong>.Tofu sauté avec des légumes, riz ou vermicelles (en fonction des légumes du jour).</p>
        <figcaption><p class="figProduitsCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--Bo Kho-->
    <h3 class="h3Produits">Bo Kho</h3>
    <figure class="figProduits">
    <a href="img/produits/plats/boKho.jpg" data-lightbox="image-7" data-title="Bo Kho">
    <img src="img/produits/plats/boKho_small.jpg" alt="Cliquez pour agrandir" width="300"  />
    </a>
    <p class="pNormal">Spécialité vietnamienne, <strong>possible sans glutten</strong>. Ragoût de bœuf à la citronnelle, servie avec des nouilles de riz ou avec du pain</p>
    <figcaption><p class="figProduitsCredit">Auteur: Elsie Hui<br>Photographie non contractuelle<br>© 2015 Elsie Hui, CC, source: http://www.elsiehui.com/food/pho-so-1-midnapore-calgary-alberta/</p></figcaption>
    </figure>

    <!--Bun bo Hué-->
    <h3 class="h3Produits">Bun bo Hué</h3>
    <figure class="figProduits">
        <a href="img/produits/plats/bunBoHue.jpg" data-lightbox="image-8" data-title="Bun bo Hué">
        <img src="img/produits/plats/bunBoHue_small.jpg" alt="Cliquez pour agrandir" width="300"  />
        </a>
        <p class="pNormal">Spécialité vietnamienne, <strong>sans glutten</strong>. Soupe de la région de Huế souvent pimentée, avec des vermicelles de riz, du bœuf et différentes épices.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Ron Dollete <br>Photographie non contractuelle<br>, CC 2011 Ron Dollete @ Bun Bo Hue So 1 (Westminster, CA), source: https://flic.kr/p/9ysoLP</p></figcaption>
    </figure>

    <!--Soupe au canard laqué-->
    <h3 class="h3Produits">Soupe au canard laqué</h3>
    <figure class="figProduits">
        <a href="img/produits/plats/soupCanard.jpg" data-lightbox="image-9" data-title="Soupe au canard laqué">
        <img src="img/produits/plats/soupCanard_small.jpg" alt="Cliquez pour agrandir" width="300"  />
        </a>
        <p class="pNormal">Spécialité vietnamienne. Soupe à base de canard laqué et de nouilles.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Alpha<br>Photographie non contractuelle<br>CC 2010 Alpha, Stewed Duck Soup with Cambodian Rice Noodles - AUD9 source: https://flic.kr/p/8tErfw</p></figcaption>
    </figure>

    <!--Soupe au porc laqué-->
    <h3 class="h3Produits">Soupe au porc laqué</h3>
    <figure class="figProduits">
        <a href="img/produits/plats/soupPorc.jpg" data-lightbox="image-10" data-title="Soupe au porc laqué">
        <img src="img/produits/plats/soupPorc_small.jpg" alt="Cliquez pour agrandir" width="300"  />
        </a>
        <p class="pNormal">Spécialité vietnamienne. Soupe à base de porc laqué et de nouilles.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Takeaway<br>Photographie non contractuelle<br>« Bami mu daeng kiao » par Takeaway — Travail personnel. Sous licence CC BY-SA 3.0 via Wikimedia Commons - https://commons.wikimedia.org/wiki/File:Bami_mu_daeng_kiao.JPG#/media/File:Bami_mu_daeng_kiao.JPG</p></figcaption>
    </figure>    
</div>

<h2 class="h2Normal">Présentation de nos desserts</h2>
<p class="pInfo">Pour afficher les images en plein écran, cliquez dessus.</p>

<div class="imgProduits">
    <!--Chèchuoi-->
    <h3 class="h3Produits">Le chéchuoi</h3>
    <figure class="figProduits">
        <a href="img/produits/desserts/chechuoi.jpg" data-lightbox="image-11" data-title="Chè Chuoi">
            <img src="img/produits/desserts/chechuoi_small.jpg"  alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Tranches de bananes cuites dans le lait de coco avec des perles de tapioca.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Veronique Phouthavy<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>

    <!--Flan thaï-->
    <h3 class="h3Produits">Flan thaï</h3>
    <figure class="figProduits">
        <a href="img/produits/desserts/.jpg" data-lightbox="image-12" data-title="Flan thaï">
            <img src="img/produits/desserts/_small.jpg" alt="Cliquez pour agrandir"/>
        </a>
        <p class="pNormal">Spécialité vietnamienne, <strong>sans glutten, vegetalien</strong>. Flan au lait de coco.</p>
        <figcaption><p class="figProduitsCredit">Auteur: Veronique Phouthavy<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
    </figure>
</div>

<p class="pNormal">Nous vous rappelons que vous pouvez consulter notre <a href="?action=carte">carte complète</a>.</p>