<h1 id="h1Normal">Le restaurant</h1>

<p class="pNormal">La carte est volontairement simple et propose des plats différents   chaque jour. Vous voyagerez en découvrant le "Mikati", soupe laotienne à   base de curry, porc haché, lait de coco, arachide, servie avec des   pâtes de riz et des légumes" ou encore le "Phô" soupe vietnamienne à la   coriandre, cannelle et badiane, servie avec des nouilles de riz et des   émincés de boeuf ou encore le "Bobun", salade de boeuf.<br><br> Vous y dégusterez également des nems, rouleaux de printemps, salade   vietnamienne et des desserts savoureux faits avec des   recettes traditionnelles.</p>

<div id="imgConteneur">
  <figure class="figRestaurant">
    <a href="img/produits/entrees/2n-(1).jpg" data-lightbox="platjour" data-title="Banh Cùon">
    <img src="img/produits/entrees/2n-(1)_small.jpg" alt="Cliquez pour agrandir"/>
    </a>
  <figcaption><p class="figCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
      <a href="img/produits/plats/7N.jpg" data-lightbox="platjour" data-title="Poulet au curry">
      <img src="img/produits/plats/7N_small.jpg" alt="Cliquez pour agrandir"/>
      </a>
  <figcaption><p class="figCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
  <figure class="figRestaurant">
    <a href="img/produits/desserts/3n.jpg" data-lightbox="platjour" data-title="Fondant à l'orange">
    <img src="img/produits/desserts/3n_small.jpg" alt="Cliquez pour agrandir"/>
    </a>
  <figcaption><p class="figCredit">Auteur: Charles-Erick Labadille<br>Photographie non contractuelle<br>© 2013 Timsam, Tous droits réservés</p></figcaption>
  </figure>
</div>

<p class="pNormal">Nous proposons également des spécialités différentes chaque jour comme le Banh Cùon, le fondant à l'orange, ou encore du poulet au curry ci dessus !<br><br> Cette cusine se déguste sur place ou peut être emportée. Vous pouvez   également commander des sandwiches vietnamiens (à consommer sur place ou   emporté).</p>

<p class="pBlack">Le restaurant est ouvert le midi du mardi au vendredi de 12h à 14h <br> et le soir du mardi au samedi de 19h à 22h. <br>Vous pouvez nous joindre pour réserver au <span style="color: #1022E0">09 83 01 21 47</span> ou utiliser notre module de réservation en ligne <a href="?action=carte">ici</a></p>
