<section id="c-service__section">
    <h1>Les services proposés par le Timsam</h1>

    <div class="c-service__articles">
        <article class="c-service__article">
           <h2>Vente à emporter</h2>
           <p class="c-service__text text-align__justify">Nous proposons la vente à emporter pour tous nos plats. Les commandes se font directement au restaurant ou de préférence par téléphone au <a class="c-service__link" href="tel:0983012147">09 83 01 21 47</a>.</p>
           <p class="c-service__text text-align__justify">Pensez à consulter <a class="c-service__link" href="/reservation.php">notre carte</a> avant de nous appeler ! Pour des commandes à emporter de plus de 4 personnes, pensez à nous appeler à l'avance que nous puissions nous organiser afin de répondre à votre demande.</p>
        </article>

        <article class="c-service__article">
           <h2>Réservation</h2>
           <p class="c-service__text text-align__justify">Plus qu'un service, nous vous conseillons dans la mesure du possible de toujours réserver votre table au Timsam, c'est pour nous le seul moyen de vous garantir une table en salle.</p>
           <p class="c-service__text text-align__justify">La réservation est possible 24h/24 via notre <a class="c-service__link" href="/reservation.php">module de réservation en ligne</a>. Nous confirmerons très rapidement votre demande si nous avons de la place ou vous rappelerons au plus vite pour vous proposer un autre créneau disponible.</p>
           <p class="c-service__text text-align__justify">Nous acceptons également la réservation par téléphone au <a class="c-service__link" href="tel:0983012147">09 83 01 21 47</a>.</p>
        </article>

        <article class="c-service__article">
           <h2>Moyens de paiements</h2>
           <p class="c-service__text text-align__justify">Nous acceptons tous les moyens de paiement traditionnel :</p>
           <ul class="c-service__list">
               <li>Espèces</li>
               <li>Carte bancaire</li>
               <li>Chèques</li>
               <li>Tickets restaurant, chèques déjeuner, etc.</li>
           </ul>
           <p class="c-service__text text-align__center text-style__em">Attention, nous n'acceptons pas les chéques vacances.</p>
        </article>

        <article class="c-service__article">
           <h2>Menu du jour et formule</h2>
           <p class="c-service__text text-align__justify">Nous vous proposerons chaque jour des spécialités différentes par le biais d'entrée, plat et dessert du jour afin de pouvoir vous faire découvrir de nouvelle saveur !</p>
           <p class="c-service__text text-align__justify">La formule du jour sera proposée à chaque service du midi et correspondra à un menu composé par le chef à partir de la carte (ou parfois de plat du jour). L'avantage de cette formule est qu'elle vous sera proposée à un prix réduit et qu'elle sera servie plus rapidement.</p>
        </article>

        <article class="c-service__article">
           <h2>Plats sur mesure</h2>
           <p class="c-service__text text-align__justify">Nos plats étant frais et fait maison, nous pouvons (dans la mesure où le plat n'en serais pas dénaturé) l'adapter en fonction de vos goûts et vos restrictions alimentaires.</p>
           <p class="c-service__text text-align__justify">De ce fait nous pourrons vous proposer des plats sans glutten, des variantes végétarienne ou vegan, des plats adaptés pour les enfants...</p>
           <p class="c-service__text text-align__justify">Afin de satisfaire la majorité de notre clientèle nous ne pimentons que légèrement nos plats. N'hésitez surtout à nous demander si vous souhaitez du piment frais ou en sauce pour relevé votre plats!</p>
           <p class="c-service__text text-align__justify">De façon générale, si vous avez une envie ou un besoin particulier au Timsam, demandez le à notre serveur ! En cas d'allergie, indiquez les également au serveur (en particulier les allergies aux arachides ou poissons).</p>
        </article>

        <article class="c-service__article">
           <h2>Organisation d'événements</h2>
           <p class="c-service__text text-align__justify">Au Timsam nous mettons un point d'honneur à promouvoir la culture, qu'elle soit locale ou asiatique. Nous vous proposerons donc régulièrement :</p>
           <ul class="c-service__list">
               <li>Des expositions de tableau, photo, sculpture ou illustration d'artistes locaux (nous essayons dans la mesure du possible d'exposer en continu et ce durant 1 à 2 mois par artiste).</li>
               <li>Des après-midi découvertes avec des initiations à la calligraphie, au Mahjong ou jeu de Go et bien d'autres encore.</li>
               <li>Des soirées musicales, des séances de dédicace d'auteurs littéraires ou encore des petits séminaires.</li>
               <li>Enfin nous vous proposons une soirée spéciale (<a class="c-service__link" href="/articles/soiree-speciale-a-la-table-du-chef">Soirée à la table du chef</a>) tous les premiers mardis du mois afin de vous faire découvrir des plats traditionnels ou revisités et d'en discuter directement avec le chef.</li>
           </ul>
           <p class="c-service__text text-align__justify">Vous avez une idée d'événement à nous soumettre, souhaitez exposer ou encore accueillir un événement culturel au sein de notre restaurant ? Contactez-nous !</p>
        </article>

        <article class="c-service__article">
            <h2>Services supplémentaires</h2>
            <p class="c-service__text text-align__justify">Nous vous proposons également plusieurs services supplémentaires dont voici une liste non exhaustive :</p>
            <ul class="c-service__list">
               <li>Accès gratuit au WIFI sur demande</li>
               <li>Bibliothéque en libre accès contenant des carnets de voyage, livre spécialisés sur l'Asie, roman et bien d'autres.</li>
               <li>Quelques jeux à disposition comme le jeu de Go ou de Mahjong</li>
               <li>Et si vous souhaitez offrir un repas, nous proposons également des carte cadeaux</li>
           </ul>
        </article>

        <article class="c-service__article">
           <h2>Accueil groupe et privatisation</h2>
           <p class="c-service__text text-align__justify">Nous pouvons accueillir des groupes d'une dizaine de personne sur réservation.</p>
           <p class="c-service__text text-align__justify">Pour des groupes plus grands ou pour privatiser le restaurant, il faudra prendre directement contact avec l'équipe et ce soit sur place (à l'avance) ou par téléphone. Prévoyez au minimum une semaine d'avance pour que nous puissions répondre à votre besoin.</p>
           <p class="c-service__text text-align__center text-style__em">Veuillez noter que notre capacité maximale d'accueil simultanée est d'environ 35 couverts.</p>
        </article>

    </div>
       
</section>
