<h1 id="h1Normal">Les services proposés</h1> 
<h2 class="h2Normal">Services Principaux :</h2>
    <ul class="ulCentre"><li>Service restauration</li><li>Service Salon de thé</li></ul>
<h2 class="h2Normal">Services Relatifs au restaurant :</h2>
    <ul class="ulCentre">
        <li>Réservations (09 83 01 21 47) et en ligne: <a href="?action=carte">ici</a></li>
        <li>Vente à emporter</li><li>Ouverture exeptionnelle pour un groupe (uniquement après négociation)</li>
        <li>Cartes cadeaux (voir <a href="?action=cartecadeau">ici</a> pour détail)</li>
    </ul>             
<h2 class="h2Normal">Services Relatifs au salon de thé :</h2>
    <ul class="ulCentre"><li>Accès WiFi sur demande</li><li>Libre accès sur place : bibliothèque et jeux</li><li>Encas et sandwiches</li></ul>
<h2 class="h2Normal">Moyens de paiement :</h2>
    <ul class="ulCentre"><li>Espèces</li><li>Carte bancaire</li><li>Chèques</li><li>Tickets restaurant, chèques déjeuner, etc.</li></ul>
<h2 class="h2Normal">Services Evénementiels :</h2>
    <ul class="ulCentre"><li>Expositions temporaires</li><li>Concerts</li><li>Animations diverses</li><li>Soirées ou après-midi thématiques</li></ul>